
.big-head {
	margin: 0;
	text-align: center;
}

.about-page {
	margin-left: auto;
	margin-right: auto;
	max-width: 1400px;
	width: 1200px;
}

.about-container {
	width: 1300px;
	height: 900px;
	/*padding-left: 7%;*/
	display: flex;
}

#about-page h1 {
	/*font-family: "Times New Roman", Georgia, Serif;*/
    font-family: "Soleto",sans-serif;
	font-size: 68px;
	color: #ffd156;
	text-shadow: 2px 2px #f7631d;
}

#about-page h3 {
	/*max-width: 400px;*/
	/*padding-left: 30%;*/
	margin-top: 10%;
	margin-bottom: 0;
	font-size: 26px;
	width: 700px;
}
#about-page h4 {
	max-width: 480px;
	padding-left: 160px;
}

#about-page p {
	font-size: 20px;
	line-height: 40px;
	margin-bottom: 5%;
}


/*======*/

.description-box {
	width: 40%;
	padding-left: 10%;
	/*padding-right: 10px;*/
}
.heading-uno {
	margin-left: 65%;
}

.image-box{
	position: relative;
	left: -100px;
	/*background-image: url(../images/demo/dummy11.png);*/
	/*background-size: 520px 900px;*/
	width: 705px;
	height: 905px;
}
#natepic {
	width: 700px;
	height: 900px;
}
#drank {
	position: absolute;
	top: 480px;
	left: 457px;
	width: 145px;
	height: 295px;
	/*filter: grayscale(100%); */
}

.byhead {
	padding-left: 176px;
	width: 550px;
}
.bytorso {
	padding-left: 130px;
	width: 500px;
}
.bywaist {
	padding-left: 100px;
	width: 500px;
}

.twofo {
	/*display: none;*/
	display: none;
}


