/*
CSS File for ALL-PAGE structure includes:
    App Border / Main Logo / 
    Fixed Footer / Call to Action Buttons
Media queries to go along with this file found in media.css
*/

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size-adjust: 100%;
}

html, body {
    height: 100%;
}

body {
    /*background-color: #f6f7ff;*/
    color: #9296ab;
    margin: 0;
/*    font-family: 'Ubuntu', sans-serif;
    font-family: 'Arvo', serif;
    font-family: 'Droid Serif', serif;
    font-family: 'PT Serif', serif;
    font-family: 'Josefin Sans', sans-serif;*/
}
form {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
    background-color: transparent;
    text-decoration: none;
    color: #2d2b51;
}



.account .messages {
    margin-bottom: 20px;
}
.loggedout-text {
    font-size: 1.6rem;
    line-height: 24px;
    text-align: center;
    margin-top: 20%;
}
.column.main {
    min-height: 300px;
}



@font-face {
    font-family: 'luma-icons';
    src: url('../fonts/Luma-Icons.eot');
    src: url('../fonts/Luma-Icons.eot?#iefix') format('embedded-opentype'), url('../fonts/Luma-Icons.woff2') format('woff2'), url('../fonts/Luma-Icons.woff') format('woff'), url('../fonts/Luma-Icons.ttf') format('truetype'), url('../fonts/Luma-Icons.svg#luma-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}





@font-face {
    font-family: 'Arvo';
    src: url('../fonts/Arvo/Arvo-Bold.ttf');
    /*font-weight: 300;*/
    /*font-style: normal*/
}
@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu/Ubuntu-Bold.ttf');
    /*font-weight: 300;*/
    /*font-style: normal*/
}
@font-face {
    font-family: 'Droid';
    src: url('../fonts/Droid_Serif/DroidSerif-Bold.ttf');
    /*font-weight: 300;*/
    /*font-style: normal*/
}
@font-face {
    font-family: 'PT';
    src: url('../fonts/PT_Serif/PT_Serif-Web-Bold.ttf');
    /*font-weight: 300;*/
    /*font-style: normal*/
}
@font-face {
    font-family: 'Bungee';
    src: url('../fonts/Bungee_Shade/BungeeShade-Regular.ttf');
    /*font-weight: 300;*/
    /*font-style: normal*/
}
@font-face {
    font-family: 'Eskimo';
    src: url('../fonts/Baby_Eskimo_Kisses.ttf');
    /*font-weight: 300;*/
    /*font-style: normal*/
}
@font-face {
    font-family: 'Corben';
    src: url('../fonts/Corben-Bold.ttf');
    /*font-weight: 300;*/
    /*font-style: normal*/
}
@font-face {
    font-family: 'Digital';
    src: url('../fonts/Digitalt.ttf');
    /*font-weight: 300;*/
    /*font-style: normal*/
}
@font-face {
    font-family: 'Arista';
    src: url('../fonts/Arista2_0Alternate.ttf');
    /*font-weight: 300;*/
    /*font-style: normal*/
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans/light/opensans-300.eot');
  src: url('../fonts/opensans/light/opensans-300.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans/light/opensans-300.woff2') format('woff2'), url('../fonts/opensans/light/opensans-300.woff') format('woff'), url('../fonts/opensans/light/opensans-300.ttf') format('truetype'), url('../fonts/opensans/light/opensans-300.svg#Open Sans') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans/regular/opensans-400.eot');
  src: url('../fonts/opensans/regular/opensans-400.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans/regular/opensans-400.woff2') format('woff2'), url('../fonts/opensans/regular/opensans-400.woff') format('woff'), url('../fonts/opensans/regular/opensans-400.ttf') format('truetype'), url('../fonts/opensans/regular/opensans-400.svg#Open Sans') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans/semibold/opensans-600.eot');
  src: url('../fonts/opensans/semibold/opensans-600.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans/semibold/opensans-600.woff2') format('woff2'), url('../fonts/opensans/semibold/opensans-600.woff') format('woff'), url('../fonts/opensans/semibold/opensans-600.ttf') format('truetype'), url('../fonts/opensans/semibold/opensans-600.svg#Open Sans') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans/bold/opensans-700.eot');
  src: url('../fonts/opensans/bold/opensans-700.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans/bold/opensans-700.woff2') format('woff2'), url('../fonts/opensans/bold/opensans-700.woff') format('woff'), url('../fonts/opensans/bold/opensans-700.ttf') format('truetype'), url('../fonts/opensans/bold/opensans-700.svg#Open Sans') format('svg');
  font-weight: 700;
  font-style: normal;
}


.base {
    font-size: 60px !important;
    color: orange;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 300;
}

h1, h2, h3, h4, h5 {
/*    font-family: 'Arvo', serif !important;
    font-family: 'Ubuntu', sans-serif !important;
    font-family: 'Droid', serif !important;
    font-family: 'PT', serif !important;
    font-family: 'Eskimo', sans-serif !important;
    font-family: 'Corben', sans-serif !important;
    font-family: 'Digital', sans-serif !important;*/
}

p {
    /*font-family: 'Arvo', serif !important;*/
    /*font-family: 'Ubuntu', sans-serif !important;*/
    /*font-family: 'Droid', serif !important;*/
    /*font-family: 'PT', serif !important;*/
    font-family: 'Josefin', sans-serif !important;
/*    font-family: 'Bungee', sans-serif !important;
    font-family: 'Eskimo', sans-serif !important;
    font-family: 'Corben', sans-serif !important;
    font-family: 'Digital', sans-serif !important;*/
}

.font1 {
    font-family: 'Bungee', sans-serif !important;
}
.font2 {
    font-family: 'Josefin', sans-serif !important;
}

    /*PAGE BACKGROUND AND BORDERS*/

.app-border {
    position: fixed;
    z-index: 10010;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    background-color: white;
}
.border-bottom, .border-top {
    left: 0;
    width: 0;
    height: 8px;
}
.border-bottom {
    left: 100%;
    right: 0;
    bottom: 0;
    box-shadow: -8px 0 4px 0 rgba(0,0,0,.2);
}
.border-top {
    top: 0;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
}
.border-left, .border-right {
    width: 8px;
    height: 0;
}
.border-right {
    top: 0;
    right: 0;
    box-shadow: 0 8px 4px 0 rgba(0,0,0,.2);
}
.border-left {
    top: 100%;
}
.border-left {
    bottom: 0;
    left: 0;
    box-shadow: 0 8px 4px 0 rgba(0,0,0,.2);
}
.border-left.fix-border:after {
    display: block;
    content: " ";
    position: absolute;
    bottom: 0;
    left: 4px;
    width: 8px;
    height: 8px;
    background-color: #fff;
}


#page-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#page-background .background-stripe {
    box-sizing: border-box;
    position: relative;
    float: left;
    width: 14.2858%;
    height: 100%;
    border-right: 1px solid #eeeff2;
}

.page {
    margin: 0 auto;
    width: 72.5%
}

/*======================================*/


.columns {
    margin: 2% 17%;
}

.page-title-wrapper {
    text-align:center;
}


.logo {
    position: fixed;
    top: 1.5vw;
    left: 2vw;
    width: 14vw;
    height: 10vw;
    z-index: 9996;
    opacity: 1.0;
}
.logo img { 
    width: 100%;
}
.logo:hover {
    opacity: 0.8;
}

.page .copyright-container {
    position: fixed;
    bottom: 4.62963vw;
    left: 4.62963vw;
    text-align: left
}
.copyright-container {
    padding-bottom: .5em;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .06em;
    z-index: 99;
}
.page .copyright-container a {
    color: #575c77;
    font-size: 10px
}
.page .copyright-container .slash {
    padding: 0 .5em
}
.copyright-container, p { text-rendering: optimizeLegibility; }

.copyright-container .copyright {
    color: #969aaf;
    margin-bottom: 5px
}
.copyright { color: #2d2b51; }

a.link--hover:hover {
    text-decoration: none
}
a.link--hover {
    position: relative
}
a.link--hover:hover:after {
    width: 100%
}
a.link--hover:after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #2d2b51;
    -webkit-transition: width .36s cubic-bezier(.075,.82,.165,1);
    transition: width .36s cubic-bezier(.075,.82,.165,1)
}

/*=================================*/
.page-wrapper {
    box-sizing: border-box;
    padding: 8px;
    overflow: hidden;
}
#feature-page {
    padding-top: 25vw;
    padding-bottom: 37.03704vw;
}


/*====================================*/

input[type="text"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="search"],
input[type="number"],
input[type="datetime"],
input[type="email"] {
  background: #ffffff;
  background-clip: padding-box;
  border: 1px solid #c2c2c2;
  border-radius: 1px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 32px;
  line-height: 1.42857143;
  padding: 0 9px;
  vertical-align: baseline;
  width: 100%;
  box-sizing: border-box;
}
input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="url"]:disabled,
input[type="tel"]:disabled,
input[type="search"]:disabled,
input[type="number"]:disabled,
input[type="datetime"]:disabled,
input[type="email"]:disabled {
  opacity: 0.5;
}
input[type="text"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="url"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="number"]::-moz-placeholder,
input[type="datetime"]::-moz-placeholder,
input[type="email"]::-moz-placeholder {
  color: #c2c2c2;
}
input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="datetime"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder {
  color: #c2c2c2;
}
input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="url"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="datetime"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder {
  color: #c2c2c2;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="search"] {
  -webkit-appearance: none;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}