
body {
    color: #333333;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    font-size: 1.4rem;
}

.modes {
    display: inline-block;
    float: left;
    margin-right: 20px;
}
.modes {
    display: none;
}

.toolbar {
    margin-bottom: 30px;
    text-align: center;
}
.toolbar-amount {
    display: block;
    float: left;
    position: static;
}
.toolbar-amount {
    left: 0;
    line-height: 18px;
    margin: 0;
    padding: 7px 0;
    position: absolute;
    text-align: left;
    top: 0;
    vertical-align: middle;
}
.toolbar-products {
    background-color: transparent;
}

.products.wrapper ~ .toolbar .toolbar-amount {
    display: none;
}

.page-with-filter .toolbar-amount {
    position: static;
}

.products.wrapper ~ .toolbar .limiter {
    display: block;
}

.page-products .toolbar .limiter {
    display: none;
}

select {
    background: #ffffff;
    background-clip: padding-box;
    border: 1px solid #c2c2c2;
    border-radius: 1px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 32px;
    line-height: 1.42857143;
    padding: 5px 10px 4px;
    vertical-align: baseline;
    width: 100%;
    box-sizing: border-box;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: #ffffff url(../images/select-bg.svg) no-repeat 100% 45%;
    background-size: 30px 60px;
    border: 1px solid #cccccc;
    height: 32px;
    padding-right: 25px;
    text-indent: .01em;
    text-overflow: '';
}

.limiter {
    float: right;
}
.limiter .control {
    display: inline-block;
}

.toolbar select {
    background-color: #f0f0f0;
    box-shadow: inset 0 1px 0 0 #ffffff, inset 0 -1px 0 0 rgba(204, 204, 204, 0.3);
    border-radius: 3px;
}

.limiter-options {
    margin: 0 5px 0 7px;
    width: auto;
}

.page-products .sorter {
    position: absolute;
    right: 10px;
    top: 0;
    z-index: 1;
}
.page-products .sorter {
    position: static;
}
.sorter {
    float: right;
}
.products.wrapper ~ .toolbar .sorter {
    display: none;
}

.sorter-options {
    margin: 0 5px 0 7px;
    width: auto;
}

.product-item-description a {
    font-size: 22px;
}

a, .alink {
    color: #1979c3;
    text-decoration: none;
}

a:visited, .alink:visited {
    color: #1979c3;
    text-decoration: none;
}

a:hover, .alink:hover {
    color: #006bb4;
    text-decoration: underline;
}

.sorter-action {
    display: inline-block;
    text-decoration: none;
}

.sorter-action:before {
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    line-height: inherit;
    color: #8f8f8f;
    content: '\e613';
    font-family: 'luma-icons';
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}

.sorter-action > span {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.column.main .product-items {
    margin-left: -20px;
}

.items {
    margin: 0;
    padding: 0;
    list-style: none none;
}

.products {
    margin: 30px 0;
}

.column.main .product-item {
    padding-left: 20px;
}
.products-list .product-item {
    display: table;
    width: 100%;
}
.bundle-options-container .block-bundle-summary .bundle.items > li, .product-items > li, .prices-tier > li, .search-terms > li, .cart-summary .checkout-methods-items > li, .opc-wrapper .opc > li, .opc-progress-bar > li, .checkout-agreements-items > li, .order-details-items .items-qty > li, .footer.content ul > li, .block-banners .banner-items > li, .block-banners-inline .banner-items > li, .block-event .slider-panel .slider > li {
    margin: 0;
}

.product-item {
    vertical-align: top;
}

.products-list .product-item-info {
    display: table-row;
}
.page-products .product-item-info {
    width: 240px;
}
.product-item-info {
    max-width: 100%;
    width: 152px;
}

.products-list .product-item-photo {
    display: table-cell;
    padding: 0 30px 30px 0;
    vertical-align: top;
    width: 1%;
}
.product-image-container {
    display: inline-block;
    max-width: 100%;
}
.products-list .product-image-wrapper, .cart.table-wrapper .product-image-wrapper, .minicart-items .product-image-wrapper, .block-giftregistry-shared-items .product-image-wrapper {
    height: auto;
    padding: 0 !important;
}

.product-image-wrapper {
    display: block;
    height: 0;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.products-list .product-image-wrapper .product-image-photo, .cart.table-wrapper .product-image-wrapper .product-image-photo, .minicart-items .product-image-wrapper .product-image-photo, .block-giftregistry-shared-items .product-image-wrapper .product-image-photo {
    position: static;
}
.product-image-photo {
    bottom: 0;
    display: block;
    height: auto;
    left: 0;
    margin: auto;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
img, object, video, embed {
    height: auto;
    max-width: 100%;
}
img {
    border: 0;
}

.product-item-actions {
    display: none;
}

.product-item-actions .actions-primary {
    display: table-cell;
}

.products-list .product-item-details {
    display: table-cell;
    vertical-align: top;
}
.product-item-name {
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    display: block;
    hyphens: auto;
    margin: 5px 0;
    word-wrap: break-word;
}

.product-item-name, .product.name a {
    font-weight: 400;
}

.abs-product-link > a:visited, .product-item-name > a:visited, .product.name a > a:visited {
    color: #333333;
    text-decoration: underline;
}
.product-item-name, .product.name a {
    font-weight: 400;
    font-size: 22px;
}
.product-item-name > a, .product.name a > a {
    color: #333333;
    text-decoration: none;
}

.product-item .price-box {
    margin: 10px 0 25px;
}

.product-item .price-box .price {
    font-weight: 700;
    white-space: nowrap;
}
.price-container .price {
    font-size: 1.4rem;
}



.product-item .tocart {
    font-size: 1.3rem;
    border-radius: 0;
    line-height: 1;
    padding-bottom: 10px;
    padding-top: 10px;
    white-space: nowrap;
}
.action.primary {
    background-image: none;
    background: #1979c3;
    border: 1px solid #1979c3;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    padding: 7px 15px;
    font-size: 1.4rem;
    box-sizing: border-box;
    vertical-align: middle;
}
button, a.action.primary {
    border-radius: 3px;
}
button {
    background-image: none;
    background: #eeeeee;
    border: 1px solid #cccccc;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 7px 15px;
    font-size: 1.4rem;
    line-height: 1.6rem;
    box-sizing: border-box;
    vertical-align: middle;
}

.page-products .product-item-actions {
    position: relative;
    z-index: 1;
}

.product-item-actions {
    display: block;
}

.product-item-actions .actions-primary + .actions-secondary {
    display: table-cell;
    padding-left: 10px;
    width: 50%;
}

.product-item-actions .actions-primary + .actions-secondary > .action:last-child {
    margin-right: 0;
}

.product-item-actions .actions-primary + .actions-secondary > .action {
    margin-right: 10px;
}

.bundle-options-container .block-bundle-summary .product-addto-links > .action, .product-item-actions .actions-secondary > .action, .product-social-links .action.tocompare, .wishlist.split.button > .action.split, .product-social-links .action.mailto.friend, .product-social-links .action.towishlist, .block-bundle-summary .action.towishlist, .product-item .action.towishlist, .table-comparison .action.towishlist {
    color: #999999;
    font-weight: 600;
    letter-spacing: .05em;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
}


.product-item-actions .actions-secondary > .action:before {
    margin: 0;
}
.bundle-options-container .block-bundle-summary .product-addto-links > .action:before, .product-item-actions .actions-secondary > .action:before, .product-social-links .action.tocompare:before, .wishlist.split.button > .action.split:before, .product-social-links .action.mailto.friend:before, .product-social-links .action.towishlist:before, .block-bundle-summary .action.towishlist:before, .product-item .action.towishlist:before, .table-comparison .action.towishlist:before {
    width: 18px;
}

.abs-actions-addto:before, .bundle-options-container .block-bundle-summary .product-addto-links > .action:before, .product-item-actions .actions-secondary > .action:before, .product-social-links .action.tocompare:before, .wishlist.split.button > .action.split:before, .product-social-links .action.mailto.friend:before, .product-social-links .action.towishlist:before, .block-bundle-summary .action.towishlist:before, .product-item .action.towishlist:before, .table-comparison .action.towishlist:before {
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    line-height: 16px;
    color: inherit;
    font-family: 'luma-icons';
    margin: -2px 5px 0 0;
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}
.product-item .tocompare:before {
    content: '\e61e';
}

.product-item-description {
    margin: 25px 0;
}

.product-item-description a{
    font-size: 18px;
}

.abs-add-clearfix:after, .abs-add-fields .fieldset .actions-toolbar:after, .payment-method-braintree .hosted-date-wrap:after, .multicheckout .item-options:after, .multicheckout .block:after, .multicheckout .block-content:after, .bundle-options-container .product-options-wrapper .field.choice .label:after, .toolbar:after, .sidebar .product-items-images:after, .cart.table-wrapper .actions-toolbar:after, .cart.table-wrapper .item-options:after, .minicart-items .product-item > .product:after, .checkout-container:after, .checkout-onepage-success:after, .opc-estimated-wrapper:after, .opc-wrapper .field.addresses:after, .page-product-downloadable .product-add-form:after, .gift-item-block .content:after, .order-details-items .order-gift-message:after, .order-details-items .block-order-details-gift-message:after, .block-giftregistry-shared-items .product .item-options:after, .gift-wrapping-list:after, .opc-wrapper .data.table .gift-wrapping .content:after, .table-order-items .gift-wrapping .content:after, .order-options .product:after, .map-popup .map-info-price:after, .customer-review .product-details:after, .form-create-return .actions-toolbar:after, .header.content:after, .form-giftregistry-share .fieldset .actions-toolbar:after, .form-giftregistry-edit .fieldset .actions-toolbar:after, .form-add-invitations .fieldset .actions-toolbar:after, .form-create-return .fieldset .actions-toolbar:after, .form.send.friend .fieldset .actions-toolbar:after {
    clear: both;
}
.abs-add-clearfix:before, .abs-add-clearfix:after, .abs-add-fields .fieldset .actions-toolbar:before, .abs-add-fields .fieldset .actions-toolbar:after, .payment-method-braintree .hosted-date-wrap:before, .payment-method-braintree .hosted-date-wrap:after, .multicheckout .item-options:before, .multicheckout .item-options:after, .multicheckout .block:before, .multicheckout .block:after, .multicheckout .block-content:before, .multicheckout .block-content:after, .bundle-options-container .product-options-wrapper .field.choice .label:before, .bundle-options-container .product-options-wrapper .field.choice .label:after, .toolbar:before, .toolbar:after, .sidebar .product-items-images:before, .sidebar .product-items-images:after, .cart.table-wrapper .actions-toolbar:before, .cart.table-wrapper .actions-toolbar:after, .cart.table-wrapper .item-options:before, .cart.table-wrapper .item-options:after, .minicart-items .product-item > .product:before, .minicart-items .product-item > .product:after, .checkout-container:before, .checkout-container:after, .checkout-onepage-success:before, .checkout-onepage-success:after, .opc-estimated-wrapper:before, .opc-estimated-wrapper:after, .opc-wrapper .field.addresses:before, .opc-wrapper .field.addresses:after, .page-product-downloadable .product-add-form:before, .page-product-downloadable .product-add-form:after, .gift-item-block .content:before, .gift-item-block .content:after, .order-details-items .order-gift-message:before, .order-details-items .order-gift-message:after, .order-details-items .block-order-details-gift-message:before, .order-details-items .block-order-details-gift-message:after, .block-giftregistry-shared-items .product .item-options:before, .block-giftregistry-shared-items .product .item-options:after, .gift-wrapping-list:before, .gift-wrapping-list:after, .opc-wrapper .data.table .gift-wrapping .content:before, .opc-wrapper .data.table .gift-wrapping .content:after, .table-order-items .gift-wrapping .content:before, .table-order-items .gift-wrapping .content:after, .order-options .product:before, .order-options .product:after, .map-popup .map-info-price:before, .map-popup .map-info-price:after, .customer-review .product-details:before, .customer-review .product-details:after, .form-create-return .actions-toolbar:before, .form-create-return .actions-toolbar:after, .header.content:before, .header.content:after, .form-giftregistry-share .fieldset .actions-toolbar:before, .form-giftregistry-share .fieldset .actions-toolbar:after, .form-giftregistry-edit .fieldset .actions-toolbar:before, .form-giftregistry-edit .fieldset .actions-toolbar:after, .form-add-invitations .fieldset .actions-toolbar:before, .form-add-invitations .fieldset .actions-toolbar:after, .form-create-return .fieldset .actions-toolbar:before, .form-create-return .fieldset .actions-toolbar:after, .form.send.friend .fieldset .actions-toolbar:before, .form.send.friend .fieldset .actions-toolbar:after {
    content: '';
    display: table;
}






/*==============================================================================*/
			/*INDIVIDUAL PRODUCT STYLES START HERE*/

.breadcrumbs {
    margin: 0 0 15px;
}
.navigation, .breadcrumbs, .page-header .header.panel, .header.content, .footer.content, .page-wrapper > .widget, .page-wrapper > .page-bottom, .block.category.event, .top-container, .page-main {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
}
.page-wrapper > .breadcrumbs, .page-wrapper > .top-container, .page-wrapper > .widget {
    box-sizing: border-box;
    width: 58%;
}

.page-main {
    width: 100%;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-flex-basis: auto;
    flex-basis: auto;
}
.breadcrumbs .items {
    font-size: 1.2rem;
    color: #a3a3a3;
    margin: 0;
    padding: 0;
    list-style: none none;
}
.breadcrumbs .item:not(:last-child) {
    display: inline-block;
    text-decoration: none;
}
.breadcrumbs .items > li {
    display: inline-block;
    vertical-align: top;
}

.breadcrumbs .item {
    margin: 0;
}

.breadcrumbs a:visited {
    color: #333333;
    text-decoration: none;
}
.breadcrumbs a {
    color: #333333;
    text-decoration: none;
}
.breadcrumbs .item:not(:last-child):after {
    -webkit-font-smoothing: antialiased;
    font-size: 10px;
    line-height: 18px;
    content: '\e608';
    font-family: 'luma-icons';
    margin: 0 10px;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}



/*=============================================*/


.columns:after {
    clear: both;
    content: ' ';
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.page-layout-1column .column.main {
    width: 100%;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
}
.page-layout-1column .product-info-main {
    width: 40%;
}

.product-info-main {
    float: right;
}
.product-info-main .product-info-price {
    color: #575757;
    border-bottom: 1px solid #c1c1c1;
    display: table;
    margin-bottom: 15px;
    width: 100%;
}
.product-info-main .product-info-stock-sku {
    display: table-cell;
    padding-bottom: 10px;
    padding-left: 10%;
    text-align: right;
    vertical-align: top;
}
.product-info-main .stock.available, .product-info-main .stock.unavailable {
    font-weight: 700;
    text-transform: uppercase;
}
.product-info-main .stock {
    margin: 0 0 3px;
}
.product-info-main .product.attribute.sku {
    word-break: break-all;
    word-wrap: break-word;
}
.product-info-main .product.attribute.sku .type {
    font-weight: normal;
    margin-right: 5px;
}
.product-info-main .product.attribute.sku .value {
    display: inline-block;
}
.product-info-main .product.attribute.sku .type:after {
    content: '#:';
}

.product-info-main .product-reviews-summary {
    float: left;
}

.product-reviews-summary {
    margin-bottom: 5px;
}
.product-reviews-summary {
    margin-bottom: 15px;
}
.product-reviews-summary .reviews-actions {
    display: inline-block;
    font-size: 11px;
    vertical-align: middle;
}
.product-reviews-summary .reviews-actions {
    font-size: 16px;
    margin-top: 3px;
}

.product-reviews-summary .rating-summary {
    display: inline-block;
    vertical-align: middle;
}
.product-info-main .rating-summary, .customer-review .rating-summary {
    margin-right: 30px;
}
.product-reviews-summary .rating-summary .label, .table-reviews .rating-summary .label {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.rating-summary .rating-result > span:before {
    position: relative;
    z-index: 2;
    -webkit-font-smoothing: antialiased;
    color: #ff5501;
    font-family: 'luma-icons';
    font-size: 16px;
    height: 16px;
    letter-spacing: 2px;
    line-height: 16px;
    content: '\e605' '\e605' '\e605' '\e605' '\e605';
    display: block;
    font-style: normal;
    font-weight: normal;
    speak: none;
}

.product-reviews-summary .reviews-actions a:not(:last-child) {
    margin-right: 30px;
}

.product-info-main .product-info-price .price-box {
    display: table-cell;
    vertical-align: top;
    width: 1px;
}
.product-options-bottom .price-box, .product-info-price .price-box {
    color: #575757;
    display: table-cell;
    padding-bottom: 10px;
    vertical-align: top;
}

.product-options-bottom .price-box .price-container, .product-info-price .price-box .price-container {
    font-size: 21px;
}

.product-info-main .product-info-price .price-including-tax + .price-excluding-tax, .product-info-main .product-info-price .weee + .price-excluding-tax, .product-info-main .product-info-price .weee {
    font-size: 1.4rem;
}

.product-info-main .product-info-price .price-box .price-container > span {
    display: block;
    margin-bottom: 5px;
}
.product-options-bottom .price-box .price-container > span, .product-info-price .price-box .price-container > span {
    display: block;
    margin-bottom: 5px;
}


.product-info-main .product-info-price .price {
    white-space: nowrap;
}
.product-info-main .product-info-price .price-including-tax + .price-excluding-tax .price, .product-info-main .product-info-price .weee + .price-excluding-tax .price, .product-info-main .product-info-price .weee .price {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 16px;
}

.product-info-main .product-info-price .price-wrapper .price {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 22px;
}
.product-options-bottom .price-box .price-container .price, .product-info-price .price-box .price-container .price {
    font-size: 22px;
    font-weight: 600;
    line-height: 22px;
}
.product-options-bottom .price-box .price-container .price, .product-info-price .price-box .price-container .price {
    font-size: 36px;
    line-height: 36px;
}

.product-info-main .product-add-form {
    clear: both;
    padding-top: 15px;
}
.product-info-main .product-add-form {
    padding-top: 20px;
}

.bundle-options-container .block-bundle-summary .box-tocart, .box-tocart {
    margin: 0 0 30px;
}

.multicheckout .action.primary, .order-review-form .action.primary, .bundle-actions .action.primary.customize, .bundle-options-container .block-bundle-summary .box-tocart .action.primary, .box-tocart .action.tocart, .cart-summary .checkout-methods-items .action.primary.checkout, .block-minicart .block-content > .actions > .primary .action.primary, .methods-shipping .actions-toolbar .action.primary, .block-authentication .action.action-register, .block-authentication .action.action-login, .checkout-payment-method .payment-method-content > .actions-toolbar > .primary .action.primary, .form-address-edit .actions-toolbar .action.primary {
    line-height: 2.2rem;
    padding: 14px 17px;
    font-size: 1.8rem;
}

.actions-toolbar > .primary .action, .actions-toolbar > .secondary .action, .bundle-actions .action.primary.customize, .bundle-options-container .block-bundle-summary .box-tocart .action.primary, .box-tocart .action.tocart {
    width: 100%;
}

.box-tocart .action.tocart:not(:last-child) {
    margin-bottom: 15px;
}

.multicheckout .table-wrapper .col .qty .input-text, .column .block-addbysku .qty .qty, .bundle-options-container .input-text.qty, .box-tocart .input-text.qty, .account .data.table-return-items .qty .input-text, .table-giftregistry-items .field.qty .qty, .block-giftregistry-shared-items .qty .qty, .table.grouped .col.qty .control.qty .qty, .block-wishlist-info-items .input-text.qty, .account .table-wrapper .data.table.wishlist .box-tocart .qty, .products-grid.wishlist .product-item .box-tocart input.qty, .sidebar .block-addbysku .fieldset .fields .field.qty .qty {
    text-align: center;
    width: 54px;
}

.box-tocart .action.tocart {
    margin-bottom: 0;
    margin-right: 1%;
    width: 49%;
}
.box-tocart .action.tocart {
    vertical-align: top;
}

.product-social-links {
    text-align: left;
}

.product-social-links {
    margin: 0 0 20px;
    text-align: center;
}
.product-addto-links {
    display: inline;
}
.product-addto-links .action {
    margin-right: 5%;
}

.product-social-links .action.tocompare:before {
    content: '\e61e';
}

.bundle-options-container .block-bundle-summary .product-addto-links > .action:before, .product-item-actions .actions-secondary > .action:before, .product-social-links .action.tocompare:before, .wishlist.split.button > .action.split:before, .product-social-links .action.mailto.friend:before, .product-social-links .action.towishlist:before, .block-bundle-summary .action.towishlist:before, .product-item .action.towishlist:before, .table-comparison .action.towishlist:before {
    width: 18px;
}
.abs-actions-addto:before, .bundle-options-container .block-bundle-summary .product-addto-links > .action:before, .product-item-actions .actions-secondary > .action:before, .product-social-links .action.tocompare:before, .wishlist.split.button > .action.split:before, .product-social-links .action.mailto.friend:before, .product-social-links .action.towishlist:before, .block-bundle-summary .action.towishlist:before, .product-item .action.towishlist:before, .table-comparison .action.towishlist:before {
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    line-height: 16px;
    color: inherit;
    font-family: 'luma-icons';
    margin: -2px 5px 0 0;
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}

.product-social-links .action.mailto.friend:before {
    content: '\e61d';
}

.product-info-main .product.attribute.overview {
    margin: 20px 0;
}

.page-layout-1column .product.media {
    width: 57%;
}
.product.media {
    float: left;
    margin-bottom: 25px;
}

.action-skip-wrapper {
    height: 0;
    position: relative;
}
.product.info.detailed {
    clear: both;
    margin-bottom: 30px;
}
.product.data.items {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 20px;
    margin-left: -15px;
    margin-right: -15px;
}
.product.data.items {
    position: relative;
    z-index: 1;
    border-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}
.product.data.items:before, .product.data.items:after {
    content: '';
    display: table;
}
.product.data.items:after {
    clear: both;
}

.product.data.items > .item.title {
    box-sizing: border-box;
    float: none;
    width: 100%;
}
.product.data.items > .item.title {
    margin: 0;
}
.product.data.items > .item.title {
    float: left;
    width: auto;
}
.product.data.items > .item.title {
    margin: 0 -1px 0 0;
}


.product.data.items > .item.title > .switch {
    display: block;
}
.product.data.items > .item.title > .switch {
    border-top: 1px solid #cccccc;
    height: 40px;
    padding: 1px 10px 1px 10px;
    font-weight: 600;
    line-height: 40px;
    font-size: 1.4rem;
    color: #333333;
    text-decoration: none;
}
.product.data.items > .item.title > .switch:visited {
    color: #333333;
    text-decoration: none;
}
.product.data.items > .item.title > .switch:visited {
    color: #7d7d7d;
    text-decoration: none;
}
.product.data.items > .item.title > .switch {
    height: 20px;
    display: block;
    position: relative;
    z-index: 2;
}
.product.data.items > .item.title > .switch {
    font-weight: 400;
    line-height: 40px;
    font-size: 1.4rem;
    color: #7d7d7d;
    text-decoration: none;
    background: #f6f6f6;
    border: 1px solid #cccccc;
    border-bottom: none;
    height: 40px;
    padding: 1px 35px 1px 35px;
}
.product.data.items > .item.title:not(.disabled) > .switch:active, .product.data.items > .item.title.active > .switch, .product.data.items > .item.title.active > .switch:focus, .product.data.items > .item.title.active > .switch:hover {
    padding-bottom: 1px;
}
.product.data.items > .item.title:not(.disabled) > .switch:active, .product.data.items > .item.title.active > .switch, .product.data.items > .item.title.active > .switch:focus, .product.data.items > .item.title.active > .switch:hover {
    background: #ffffff;
    color: #333333;
}
.product.data.items > .item.title.active > .switch, .product.data.items > .item.title.active > .switch:focus, .product.data.items > .item.title.active > .switch:hover {
    padding-bottom: 2px;
}
.product.data.items .item.title a {
    position: relative;
    text-decoration: none;
}


.product.data.items > .item.content {
    box-sizing: border-box;
    display: block;
    float: none;
    margin: 0;
}
.product.data.items > .item.content {
    background: #ffffff;
    margin: 0;
    padding: 10px 10px 30px;
}
.product.data.items > .item.content {
    margin-top: 20px;
    box-sizing: border-box;
    float: right;
    margin-left: -100%;
    width: 100%;
}
.product.data.items > .item.content {
    background: #ffffff;
    margin-top: 43px;
    padding: 35px 35px 35px 35px;
    border: 1px solid #cccccc;
}



.product.data.items > .item.content:before, .product.data.items > .item.content:after {
    content: '';
    display: table;
}
.product.data.items > .item.content:after {
    clear: both;
}
.product.data.items > .item.content:before, .product.data.items > .item.content:after {
    content: '';
    display: table;
}


.data.switch .counter {
    color: #7d7d7d;
}
.data.switch .counter:before {
    content: '(';
}
.data.switch .counter:after {
    content: ')';
}


.block, .customer-review .product-details, .block-banners, .block-banners-inline {
    margin-bottom: 40px;
}
.review-list {
    margin-bottom: 30px;
}
.abs-margin-for-blocks-and-widgets-desktop, .page-main .block, .customer-review .product-details {
    margin-bottom: 50px;
}
.column.main .block:last-child {
    margin-bottom: 0;
}

b, strong {
    font-weight: 700;
}
.review-list .block-title strong {
    font-weight: 300;
    line-height: 1.1;
    font-size: 2.6rem;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
}
.review-toolbar {
    border-top: 1px solid #c9c9c9;
    margin: 0 0 20px;
    padding: 0;
    text-align: center;
}
.review-toolbar {
    margin: 0 0 30px;
}
.review-toolbar:first-child {
    display: none;
}
.review-toolbar .limiter {
    display: none;
}
.limiter-label {
    font-weight: 400;
}

.review-item {
    border-bottom: 1px solid #c9c9c9;
    margin: 0;
    padding: 20px 0;
}
.review-item {
    padding: 30px 0;
}

.review-title {
    font-weight: 600;
    line-height: 1.1;
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin: 0 0 20px;
}
.review-title {
    margin: 0 0 30px;
}

.review-ratings {
    display: table;
    margin-bottom: 10px;
    max-width: 100%;
}
.review-ratings {
    float: left;
    margin-bottom: 0;
    max-width: 240px;
}

.rating-summary {
    overflow: hidden;
    white-space: nowrap;
}
.review-ratings .rating-summary, .customer-review .review-details .customer-review-rating .rating-summary {
    display: table-row;
}

.review-ratings .rating-label, .customer-review .review-details .customer-review-rating .rating-label {
    display: table-cell;
    padding-bottom: 5px;
    padding-right: 25px;
    padding-top: 1px;
    vertical-align: top;
}

.review-ratings .rating-result, .customer-review .review-details .customer-review-rating .rating-result {
    display: table-cell;
    vertical-align: top;
}
.rating-summary .rating-result {
    width: 88px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.rating-summary .rating-result:before {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-font-smoothing: antialiased;
    color: #c7c7c7;
    font-family: 'luma-icons';
    font-size: 16px;
    height: 16px;
    letter-spacing: 2px;
    line-height: 16px;
    content: '\e605' '\e605' '\e605' '\e605' '\e605';
    display: block;
    font-style: normal;
    font-weight: normal;
    speak: none;
}

.rating-summary .rating-result > span {
    display: block;
    overflow: hidden;
}

.rating-summary .rating-result > span:before {
    position: relative;
    z-index: 2;
    -webkit-font-smoothing: antialiased;
    color: #ff5501;
    font-family: 'luma-icons';
    font-size: 16px;
    height: 16px;
    letter-spacing: 2px;
    line-height: 16px;
    content: '\e605' '\e605' '\e605' '\e605' '\e605';
    display: block;
    font-style: normal;
    font-weight: normal;
    speak: none;
}

.rating-summary .rating-result > span span {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.review-content {
    margin-bottom: 20px;
}
.review-ratings ~ .review-content, .review-ratings ~ .review-details {
    margin-left: 280px;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
p {
    margin-top: 0rem;
    margin-bottom: 1rem;
}
.review-author {
    display: inline;
}

.review-author .review-details-value {
    font-weight: 400;
}

.block p:last-child {
    margin: 0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.review-item:after {
    clear: both;
    content: '';
    display: table;
}

.block, .customer-review .product-details, .block-banners, .block-banners-inline {
    margin-bottom: 40px;
}
.abs-margin-for-blocks-and-widgets-desktop, .page-main .block, .customer-review .product-details {
    margin-bottom: 50px;
}
.page-main .column .review-add {
    margin-bottom: 0;
}
.column.main .block:last-child {
    margin-bottom: 0;
}
.review-add .block-title {
    display: none;
}

.review-form {
    max-width: 500px;
}

.fieldset > .legend {
    margin: 0 0 20px;
    padding: 0 0 10px;
    width: 100%;
    box-sizing: border-box;
    float: left;
    font-weight: 300;
    line-height: 1.2;
    font-size: 1.8rem;
}
.fieldset .review-legend.legend {
    border-bottom: 0;
    line-height: 1.3;
    padding: 0;
    margin-bottom: 20px;
}
.fieldset .review-legend.legend {
    margin-bottom: 30px;
}

.fieldset .review-legend.legend span {
    margin: 0;
}
.fieldset .review-legend.legend strong {
    display: block;
    font-weight: 600;
}

.fieldset > .legend + br {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.fieldset .review-field-ratings > .label {
    font-weight: 600;
    margin-bottom: 10px;
    padding: 0;
}

.fieldset > .field.required > .label:after, .fieldset > .fields > .field.required > .label:after, .fieldset > .field._required > .label:after, .fieldset > .fields > .field._required > .label:after {
    content: '*';
    color: #e02b27;
    font-size: 1.2rem;
    margin: 0 0 0 5px;
}

.fieldset > .field > .label + br, .fieldset > .fields > .field > .label + br {
    display: none;
}

.fieldset > .field .field.choice, .fieldset > .fields > .field .field.choice {
    margin-bottom: 10px;
}
.fieldset > .field .field.choice:last-child, .fieldset > .fields > .field .field.choice:last-child {
    margin-bottom: 0;
}

.review-field-rating .label {
    font-weight: 600;
}

.review-control-vote {
    overflow: hidden;
}
.review-field-rating .control {
    margin-bottom: 48px;
    margin-top: 10px;
}

.review-control-vote:before {
    color: #c7c7c7;
    font-family: 'luma-icons';
    font-size: 16px;
    height: 16px;
    letter-spacing: 2px;
    line-height: 16px;
    font-style: normal;
    font-weight: normal;
    speak: none;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    content: '\e605' '\e605' '\e605' '\e605' '\e605';
    display: block;
    position: absolute;
    z-index: 1;
}

.review-control-vote label:before {
    color: #ff5501;
    font-family: 'luma-icons';
    font-size: 16px;
    height: 16px;
    letter-spacing: 2px;
    line-height: 16px;
    font-style: normal;
    font-weight: normal;
    speak: none;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    opacity: 0;
}
.review-control-vote label:before, .review-control-vote:before {
    font-size: 32px;
    height: 32px;
    letter-spacing: 10px;
    line-height: 32px;
}

.review-control-vote input[type="radio"] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.fieldset > .field .choice input, .fieldset > .fields > .field .choice input {
    vertical-align: top;
}

.review-control-vote input[type="radio"]:focus + label:before,
.review-control-vote input[type="radio"]:checked + label:before {
  opacity: 1;
}

.review-control-vote label {
    cursor: pointer;
    display: block;
    position: absolute;
}


.review-control-vote label span {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


.review-control-vote label:hover:before {
  opacity: 1;
}
.review-control-vote label:hover ~ label:before {
  opacity: 0;
}
.review-control-vote .rating-5 {
  z-index: 2;
}
.review-control-vote .rating-5:before {
  content: '\e605' '\e605' '\e605' '\e605' '\e605';
}
.review-control-vote .rating-4 {
  z-index: 3;
}
.review-control-vote .rating-4:before {
  content: '\e605' '\e605' '\e605' '\e605';
}
.review-control-vote .rating-3 {
  z-index: 4;
}
.review-control-vote .rating-3:before {
  content: '\e605' '\e605' '\e605';
}
.review-control-vote .rating-2 {
  z-index: 5;
}
.review-control-vote .rating-2:before {
  content: '\e605' '\e605';
}
.review-control-vote .rating-1 {
  z-index: 6;
}
.review-control-vote .rating-1:before {
  content: '\e605';
}
.review-control-vote:before {
  content: '\e625' '\e625' '\e625' '\e625' '\e625';
}

textarea {
    background: #ffffff;
    background-clip: padding-box;
    border: 1px solid #c2c2c2;
    border-radius: 1px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: auto;
    line-height: 1.42857143;
    margin: 0;
    padding: 10px;
    vertical-align: baseline;
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
}

.actions-toolbar {
    text-align: left;
}
.actions-toolbar:before, .actions-toolbar:after {
    content: '';
    display: table;
}

.actions-toolbar > .primary, .actions-toolbar > .secondary {
    margin-bottom: 10px;
    text-align: center;
}
.actions-toolbar .primary {
    float: left;
}
.actions-toolbar .primary, .actions-toolbar .secondary {
    display: inline-block;
}
.actions-toolbar > .primary, .actions-toolbar > .secondary {
    margin-bottom: 0;
}
.actions-toolbar > .primary:last-child, .actions-toolbar > .secondary:last-child {
    margin-bottom: 0;
}
.review-form .actions-toolbar .actions-primary {
    padding: 0;
}

.actions-toolbar > .primary .action, .actions-toolbar > .secondary .action {
    margin-bottom: 10px;
}
.actions-toolbar .primary .action {
    margin: 0 15px 0 0;
}
.actions-toolbar > .primary .action, .actions-toolbar > .secondary .action {
    margin-bottom: 0;
    width: auto;
}
.actions-toolbar > .primary .action:last-child, .actions-toolbar > .secondary .action:last-child {
    margin-bottom: 0;
}
.review-form .action.submit.primary {
    background: #eeeeee;
    border: 1px solid #cccccc;
    color: #333333;
    font-size: 1.4rem;
    line-height: 1.6rem;
    padding: 7px 15px;
    margin: 0;
}

.actions-toolbar:before, .actions-toolbar:after {
    content: '';
    display: table;
}
.actions-toolbar:after {
    clear: both;
}








input.mage-error,
select.mage-error,
textarea.mage-error {
  border-color: #ed8380;
}

div.mage-error[generated] {
  color: #e02b27;
  font-size: 1.2rem;
}

.field-error,
div.mage-error[generated] {
  margin-top: 7px;
}

.form.search.advanced .fields.range .field:last-child div.mage-error[generated] {
  left: 0;
  position: absolute;
  top: 32px;
}

.field.password .control .mage-error {
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
}









