
/*==============================*/
        /*Hamburger Menu*/

#hamburger {
    opacity: 0;
}
.hamburger {
    position: fixed;
    top: 22px;
    right: 18px;
    width: 25px;
    height: 19px;
    cursor: pointer;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 20000;
}
.hamburger.is-active .hamburger--outer:nth-child(1),.hamburger.is-active .hamburger--outer:nth-child(2),.hamburger.is-active .hamburger--outer:nth-child(3),.hamburger.is-inactive:hover .hamburger--outer:nth-child(6),.hamburger.is-inactive:hover .hamburger--outer:nth-child(7) {
    display: none;
}
.hamburger.is-active .hamburger--outer:nth-child(6) {
    -webkit-transform: rotate(225deg) translateX(0) scaleX(1);
    transform: rotate(225deg) translateX(0) scaleX(1);
    top: 17px;
    left: 22px
}
.hamburger.is-active .hamburger--outer:nth-child(7) {
    -webkit-transform: rotate(-45deg) translateX(0) scaleX(1);
    transform: rotate(-45deg) translateX(0) scaleX(1);
    top: 17px;
    left: 4px
}
.hamburger.is-active:hover .hamburger--outer:nth-child(6) {
    -webkit-transform: rotate(225deg) translateX(0) scaleX(0);
    transform: rotate(225deg) translateX(0) scaleX(0);
    -webkit-transition-duration: .42s;
    transition-duration: .42s;
    -webkit-transition-timing-function: cubic-bezier(.52,.01,.16,1);
    transition-timing-function: cubic-bezier(.52,.01,.16,1);
    -webkit-transition-delay: .1s;
    transition-delay: .1s
}
.hamburger.is-active:hover .hamburger--outer:nth-child(7) {
    -webkit-transform: rotate(-45deg) translateX(0) scaleX(0);
    transform: rotate(-45deg) translateX(0) scaleX(0);
    -webkit-transition-duration: .42s;
    transition-duration: .42s;
    -webkit-transition-timing-function: cubic-bezier(.52,.01,.16,1);
    transition-timing-function: cubic-bezier(.52,.01,.16,1);
    -webkit-transition-delay: .2s;
    transition-delay: .2s
}
.hamburger.is-active:hover .hamburger--outer:nth-child(4) {
    -webkit-transform: rotate(45deg) translateX(0) scaleX(1);
    transform: rotate(45deg) translateX(0) scaleX(1);
    -webkit-transition-duration: .42s;
    transition-duration: .42s;
    -webkit-transition-timing-function: cubic-bezier(.52,.01,.16,1);
    transition-timing-function: cubic-bezier(.52,.01,.16,1);
    -webkit-transition-delay: .3s;
    transition-delay: .3s
}
.hamburger.is-active:hover .hamburger--outer:nth-child(5) {
    -webkit-transform: rotate(135deg) translateX(0) scaleX(1);
    transform: rotate(135deg) translateX(0) scaleX(1);
    -webkit-transition-duration: .42s;
    transition-duration: .42s;
    -webkit-transition-timing-function: cubic-bezier(.52,.01,.16,1);
    transition-timing-function: cubic-bezier(.52,.01,.16,1);
    -webkit-transition-delay: .4s;
    transition-delay: .4s
}
.hamburger.is-inactive:hover .hamburger--outer:nth-child(1) {
    -webkit-animation: hamburgerHover .33s ease-out .32s;
    animation: hamburgerHover .33s ease-out .32s
}
.hamburger.is-inactive:hover .hamburger--outer:nth-child(2) {
    -webkit-animation: hamburgerHover .33s ease-out .21s;
    animation: hamburgerHover .33s ease-out .21s;
    left: 0;
    width: 100%;
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease
}
.hamburger.is-inactive:hover .hamburger--outer:nth-child(3) {
    -webkit-animation: hamburgerHover .33s ease-out .1s;
    animation: hamburgerHover .33s ease-out .1s
}

.hamburger--outer {
    display: block;
    position: absolute;
    height: 3px;
    background: #2d2b51;
    border-radius: 9px;
    opacity: 1;
    -webkit-transform: rotate(0);
    transform: rotate(0)
}
.hamburger--outer:nth-child(1),.hamburger--outer:nth-child(4),.hamburger--outer:nth-child(6) {
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform-origin: left center;
    transform-origin: left center
}
.hamburger--outer:nth-child(2) {
    top: 8px;
    left: 6px;
    width: 19px;
    -webkit-transform-origin: left center;
    transform-origin: left center
}
.hamburger--outer:nth-child(3),.hamburger--outer:nth-child(5),.hamburger--outer:nth-child(7) {
    top: 16px;
    left: 0;
    width: 100%;
    -webkit-transform-origin: left center;
    transform-origin: left center
}
.hamburger--outer:nth-child(4) {
    top: -1px;
    left: 4px;
    -webkit-transform: rotate(45deg) translateX(0) scaleX(0);
    transform: rotate(45deg) translateX(0) scaleX(0)
}
.hamburger--outer:nth-child(5) {
    top: -1px;
    left: 22px;
    -webkit-transform: rotate(135deg) translateX(0) scaleX(0);
    transform: rotate(135deg) translateX(0) scaleX(0)
}
@-webkit-keyframes hamburgerHover {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    50% {
        -webkit-transform: translateX(110%);
        transform: translateX(110%)
    }
    50.001% {
        -webkit-transform: translateX(0) translateY(11px);
        transform: translateX(0) translateY(11px)
    }
    100% {
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0)
    }
}
@keyframes hamburgerHover {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    50% {
        -webkit-transform: translateX(110%);
        transform: translateX(110%)
    }
    50.001% {
        -webkit-transform: translateX(0) translateY(11px);
        transform: translateX(0) translateY(11px)
    }
    100% {
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0)
    }
}




.navigation-overlay {
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    height: 0vh;
    background-color: rgba(255,255,255,.9)
}
.navigation1 {
    position: fixed;
    z-index: 10000;
}

/*.navigation1 .navigation-overlay {
    display: none;
}*/
/*.navigation-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.9)
}*/
.navigation1.open .main-nav-container {
    box-shadow: 0 -2px 7px 3px rgba(0,0,0,.12)
}
.navigation-footer {
    position: absolute;
    bottom: 20px;
    margin: 0 -3.7037vw
}
.navigation-footer .wrapper .slash {
    font-size: 10px;
    padding: 0 8px 0 9px
}
.navigation-footer .wrapper a {
    display: inline-block;
    font-size: 8px;
    text-transform: uppercase;
    text-rendering: geometricPrecision;
    letter-spacing: .04em
}
.navigation1 .copyright,.navigation1 .crafted a:hover {
    color: #2d2b51
}
#about-page #section-3,#about-page #section-3:after,#about-page #section-5:after,.blog-categories:after,.blog-single .form-container:after,.button-store-download:after,.featured-posts:after,.group-row:after,.instagram-grid-items:after,.navigation-footer .social-buttons:after,.page-section,.page-section:after,.post-author-full:after,.post-categories:after,.post-loader,.post-navigation:after,.post-share .share-list:after,.posts-wrapper:after,.section-inner.center,.section-inner:after {
    clear: both
}
.navigation-footer .social-buttons {
    list-style: none;
    padding: 0
}
.navigation-footer .social-buttons:after,.navigation-footer .social-buttons:before {
    content: " ";
    display: table
}
.navigation-footer .social-buttons li {
    position: relative;
    float: left;
    margin-left: -1px;
    line-height: 0;
    z-index: 0
}
.navigation-footer .social-buttons li:hover {
    z-index: 1
}
.navigation-footer .wrapper,.section-inner.center,time {
    text-align: center
}



.main-nav-container {
    box-sizing: border-box;
    position: fixed;
    top: -100%;
    right: 0;
    width: 59.72222vw;
    height: 100%;
    padding: 5.55556vw 5.09259vw 0 8.51852vw;
    background-color: white;
    background-image: url(../images/logo25.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -410px 70px;
}
.menu-sign {
    padding-top: 5px;
    padding-left: 10%;
    font-family: 'Bungee', sans-serif !important;
    font-size: 50px;
    letter-spacing: 5px;
    color: #333;
}
.menuLogo {
    position: relative;
    left: -50px;
    top: -20px;
}
.menuLogo img {
    /*border: 1px solid green;*/
    padding: 8px;
}
.button-fill:hover,.main-nav .site-links a {
    text-decoration: none
}
.main-nav ul {
    margin: 0;
    padding: 0;
    list-style: none
}
.main-nav li {
    position: relative;
    margin-bottom: 1.85185vw;
    overflow: hidden
}
.main-nav li:last-of-type {
    margin-bottom: 0
}
.main-nav a {
    display: inline-block;
    position: relative;
    color: #2d2b51;
}
.main-nav span {
    margin-right: 16px
}
.main-nav .nav--hover:after {
    content: "";
    position: absolute;
    right: 100%;
    bottom: 0;
    display: block;
    width: 100%;
    height: .55556vw;
    min-height: 3px;
    background-color: #ffd156;
    opacity: 0;
    -webkit-transition: right .32s cubic-bezier(.165,.84,.44,1),opacity .32s cubic-bezier(.165,.84,.44,1);
    transition: right .32s cubic-bezier(.165,.84,.44,1),opacity .32s cubic-bezier(.165,.84,.44,1)
}
.main-nav .nav--hover.active:after,.main-nav .nav--hover:hover:after {
    right: 0;
    opacity: 1;
}
.main-nav .site-links {
    margin-bottom: 0
}
.main-nav .site-links a {
    margin-left: 0;
    padding-bottom: 6px;
    font-weight: 700;
    font-size: 5.55556vw;
    text-transform: uppercase;
    overflow: hidden;
    -webkit-transition: all .16s cubic-bezier(.165,.84,.44,1);
    transition: all .16s cubic-bezier(.165,.84,.44,1)
}
.main-nav .site-links a span {
    font-size: 3.42593vw
}
.main-nav .site-links a:hover {
    margin-left: .32em
}
.main-nav .store-downloads a {
    color: #c8cad5;
    font-size: 3.51852vw;
    -webkit-transition: color .12s cubic-bezier(.165,.84,.44,1);
    transition: color .12s cubic-bezier(.165,.84,.44,1);
    text-decoration: none
}
.main-nav .store-downloads a:hover {
    color: #2d2b51
}
.main-nav .store-downloads a.nav--hover:after {
    background-color: #2d2b51;
    height: 1px
}



.button-social {
    position: relative;
    width: 10vw;
    height: 10vw;
    border: 1px solid transparent;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all .48s cubic-bezier(.075,.82,.165,1);
    transition: all .48s cubic-bezier(.075,.82,.165,1);
    z-index: 0;
}
.button-social:hover {
    box-shadow: 0 20px 25px 0 rgba(18,17,30,.15);
    border-color: #c8cad5;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    z-index: 1;
}
.button-social .icon {
    position: relative;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: orange;
}
.button-social .icon:hover {
    background-color: white;
}



.socI {
    padding: 10px;
    width: 20px;
    height: 20px;
}
.socI:hover #path{
    fill:orange;
}
#path {
    fill:white;
}







/*======================================*/
        /*Shopping Cart*/

.block-minicart .items-total {
  float: left;
  margin: 0 10px;
}
.block-minicart .items-total .count {
  font-weight: 700;
}
.block-minicart .subtotal {
  margin: 0 10px 10px;
  text-align: right;
}
.block-minicart .amount .price-wrapper:first-child .price {
  font-size: 18px;
  font-weight: 700;
}
.block-minicart .subtitle {
  display: none;
}
.block-minicart .subtitle.empty {
  display: block;
  font-size: 14px;
  padding: 30px 0 20px;
  text-align: center;
}
.block-minicart .text.empty {
  text-align: center;
}
.block-minicart .block-content > .actions {
  margin-top: 15px;
}
.block-minicart .block-content > .actions > .secondary {
  text-align: center;
}
.block-minicart .block-content > .actions > .primary {
  margin: 0 10px 15px;
}
.block-minicart .block-content > .actions > .primary .action.primary {
  display: block;
  width: 100%;
}
.block-minicart .block-content > .actions .paypal-logo {
  margin-top: 15px;
  text-align: center;
}
.block-minicart .block-category-link,
.block-minicart .block-product-link,
.block-minicart .block-cms-link,
.block-minicart .block-banners {
  margin: 15px 0 0;
  text-align: center;
}
.minicart-wrapper {
    display: inline-block;
    position: absolute;
    top: 1.7vw;
    right: 6.60417vw;
}
.minicart-wrapper:before,
.minicart-wrapper:after {
  content: '';
  display: table;
}
.minicart-wrapper:after {
  clear: both;
}
.minicart-wrapper .action.showcart {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}
.minicart-wrapper .action.showcart:before {
  -webkit-font-smoothing: antialiased;
  font-size: 32px;
  line-height: 38px;
  color: #8f8f8f;
  content: '\e611';
  font-family: 'luma-icons';
  margin: 0;
  vertical-align: top;
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  speak: none;
  text-align: center;
}
.minicart-wrapper .action.showcart:hover:before {
  color: #333333;
}
.minicart-wrapper .action.showcart:active:before {
  color: #8f8f8f;
}
.minicart-wrapper .action.showcart.active {
  display: inline-block;
  text-decoration: none;
}
.minicart-wrapper .action.showcart.active:before {
  -webkit-font-smoothing: antialiased;
  font-size: 22px;
  line-height: 28px;
  color: #8f8f8f;
  content: '\e611';
  font-family: 'luma-icons';
  margin: 0;
  vertical-align: top;
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  speak: none;
  text-align: center;
}
.minicart-wrapper .action.showcart.active:hover:before {
  color: #333333;
}
.minicart-wrapper .action.showcart.active:active:before {
  color: #8f8f8f;
}
.minicart-wrapper .block-minicart {
  margin: 0;
  padding: 0;
  list-style: none none;
  background: #ffffff;
  border: 1px solid #bbbbbb;
  margin-top: 4px;
  min-width: 100%;
  z-index: 100;
  box-sizing: border-box;
  display: none;
  position: absolute;
  top: 100%;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
}
.minicart-wrapper .block-minicart li {
  margin: 0;
}
.minicart-wrapper .block-minicart li:hover {
  cursor: pointer;
}
.minicart-wrapper .block-minicart:before,
.minicart-wrapper .block-minicart:after {
  border-bottom-style: solid;
  content: '';
  display: block;
  height: 0;
  position: absolute;
  width: 0;
}
.minicart-wrapper .block-minicart:before {
  border: 6px solid;
  border-color: transparent transparent #ffffff transparent;
  z-index: 99;
}
.minicart-wrapper .block-minicart:after {
  border: 7px solid;
  border-color: transparent transparent #bbbbbb transparent;
  z-index: 98;
}
.minicart-wrapper .block-minicart:before {
  left: 10px;
  top: -12px;
}
.minicart-wrapper .block-minicart:after {
  left: 9px;
  top: -14px;
}
.minicart-wrapper.active {
  overflow: visible;
}
.minicart-wrapper.active .block-minicart {
  display: block;
}
.minicart-wrapper .block-minicart {
  padding: 25px 20px;
  right: 0;
  width: 320px;
  z-index: 101;
}
.minicart-wrapper .block-minicart .block-title {
  display: none;
}
.minicart-wrapper .block-minicart:after {
  left: auto;
  right: 25px;
}
.minicart-wrapper .block-minicart:before {
  left: auto;
  right: 26px;
}
.minicart-wrapper .product .actions {
  float: right;
  margin: -24px 0 0;
}
.minicart-wrapper .product .actions > .primary,
.minicart-wrapper .product .actions > .secondary {
  display: inline;
}
.minicart-wrapper .product .actions > .primary:not(:last-child),
.minicart-wrapper .product .actions > .secondary:not(:last-child) {
  margin-right: 15px;
}
.minicart-wrapper .action.close {
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  background-image: none;
  background: none;
  -moz-box-sizing: content-box;
  border: 0;
  box-shadow: none;
  line-height: inherit;
  margin: 0;
  padding: 0;
  text-shadow: none;
  font-weight: 400;
  display: inline-block;
  text-decoration: none;
}
.minicart-wrapper .action.close:focus,
.minicart-wrapper .action.close:active {
  background: none;
  border: none;
  outline: none;
}
.minicart-wrapper .action.close:hover {
  background: none;
  border: none;
}
.minicart-wrapper .action.close.disabled,
.minicart-wrapper .action.close[disabled],
fieldset[disabled] .minicart-wrapper .action.close {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}
.minicart-wrapper .action.close > span {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.minicart-wrapper .action.close:before {
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  line-height: 16px;
  color: #8f8f8f;
  content: '\e616';
  font-family: 'luma-icons';
  margin: 0;
  vertical-align: top;
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  speak: none;
  text-align: center;
}
.minicart-wrapper .action.close:hover:before {
  color: inherit;
}
.minicart-wrapper .action.close:active:before {
  color: inherit;
}
.minicart-wrapper .action.showcart {
  white-space: nowrap;
}
.minicart-wrapper .action.showcart .counter.qty {
  background: #ff5501;
  color: #ffffff;
  height: 24px;
  line-height: 24px;
  border-radius: 2px;
  display: inline-block;
  margin: 3px 0 0;
  min-width: 18px;
  overflow: hidden;
  padding: 0 3px;
  text-align: center;
  white-space: normal;
}
.minicart-wrapper .action.showcart .counter.qty.empty {
  display: none;
}
.minicart-wrapper .action.showcart .counter.qty .loader > img {
  max-width: 24px;
}
.minicart-wrapper .minicart-widgets {
  margin-top: 15px;
}
.minicart-items-wrapper {
  border: 1px solid #cccccc;
  margin: 0 -20px;
  border-left: 0;
  border-right: 0;
  overflow-x: auto;
  padding: 15px;
}
.minicart-items {
  margin: 0;
  padding: 0;
  list-style: none none;
}
.minicart-items .product-item {
  padding: 20px 0;
}
.minicart-items .product-item:not(:first-child) {
  border-top: 1px solid #cccccc;
}
.minicart-items .product-item:first-child {
  padding-top: 0;
}
.minicart-items .product-item-pricing .label {
  display: inline-block;
  width: 4.5rem;
}
.minicart-items .price-minicart {
  margin-bottom: 5px;
}
.minicart-items .product-item-name {
  font-weight: 400;
  margin: 0 0 10px;
}
.minicart-items .product-item-name a {
  color: #1979c3;
}
.minicart-items .product-item-details {
  padding-left: 88px;
}
.minicart-items .product-item-details .price {
  font-weight: 700;
}
.minicart-items .product-item-details .price-including-tax,
.minicart-items .product-item-details .price-excluding-tax {
  margin: 5px 0;
}
.minicart-items .product-item-details .weee[data-label] {
  font-size: 1.1rem;
}
.minicart-items .product-item-details .details-qty {
  margin-top: 10px;
}
.minicart-items .product > .product-item-photo,
.minicart-items .product > .product-image-container {
  float: left;
}
.minicart-items .product .toggle {
  border: 0;
  padding: 0 40px 5px 0;
}
.minicart-items .product .toggle:after {
  color: #8f8f8f;
  margin: 0 0 0 5px;
  position: static;
}
.minicart-items .product .active > .toggle:after {
  content: '\e621';
}
.minicart-items .product.pricing {
  margin-top: 3px;
}
.minicart-items .product.options .toggle.tooltip {
  display: inline-block;
  text-decoration: none;
}
.minicart-items .product.options .toggle.tooltip > span {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.minicart-items .product.options .toggle.tooltip:after {
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  line-height: 12px;
  color: inherit;
  content: '\e622';
  font-family: 'luma-icons';
  margin: -3px 0 0 7px;
  vertical-align: middle;
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  speak: none;
  text-align: center;
}
.minicart-items .product.options .details {
  display: none;
}
.minicart-items .item-qty {
  margin-right: 10px;
  text-align: center;
  width: 40px;
}
.minicart-items .update-cart-item {
  font-size: 1.1rem;
  vertical-align: top;
}
.minicart-items .subtitle {
  display: none;
}
.minicart-items .action.edit,
.minicart-items .action.delete {
  display: inline-block;
  text-decoration: none;
}
.minicart-items .action.edit > span,
.minicart-items .action.delete > span {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.minicart-items .action.edit:before,
.minicart-items .action.delete:before {
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  line-height: 20px;
  color: #8f8f8f;
  content: '\e601';
  font-family: 'luma-icons';
  vertical-align: middle;
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  speak: none;
  text-align: center;
}
.minicart-items .action.edit:hover:before,
.minicart-items .action.delete:hover:before {
  color: #333333;
}
.minicart-items .action.edit:active:before,
.minicart-items .action.delete:active:before {
  color: #8f8f8f;
}
.minicart-items .action.delete:before {
  content: '\e604';
}
