
.actions-toolbar > .secondary .action.back {
  display: none;
}
.form-address-edit #region {
  display: none;
}
.form-edit-account .fieldset.password {
  display: none;
}

input.mage-error,
select.mage-error,
textarea.mage-error {
  border-color: #ed8380;
}
div.mage-error[generated] {
  color: #e02b27;
  font-size: 1.2rem;
}
.field-error,
div.mage-error[generated] {
  margin-top: 7px;
}
.field-error {
  color: #e02b27;
  font-size: 1.2rem;
}

.column .block-addbysku .qty .qty + .mage-error {
  width: 80px;
}

.column .block-addbysku .qty .qty + .mage-error {
  width: 80px;
}

.form.search.advanced .fields.range .field:last-child div.mage-error[generated] {
  left: 0;
  position: absolute;
  top: 32px;
}

.field.password .control .mage-error {
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
}

.sidebar .block-addbysku .fieldset .fields .field.qty .qty + .mage-error {
  width: 80px;
}








body {
    color: #333333;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    font-size: 1.4rem;
}

a.action.primary:hover,
a.action.primary:active,
a.action.primary:focus {
  text-decoration: none;
}
button, a.action.primary {
    border-radius: 3px;
}

button {
    background-image: none;
    background: #eeeeee;
    border: 1px solid #cccccc;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 7px 15px;
    font-size: 1.4rem;
    line-height: 1.6rem;
    box-sizing: border-box;
    vertical-align: middle;
}

a:visited, .alink:visited {
    color: #1979c3;
    text-decoration: none;
}

a, .alink {
    color: #1979c3;
    text-decoration: none;
}
a:hover, .alink:hover {
    color: #006bb4;
    text-decoration: underline;
}

.navigation, .breadcrumbs, .page-header .header.panel, .header.content, .footer.content, .page-wrapper > .widget, .page-wrapper > .page-bottom, .block.category.event, .top-container, .page-main {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
}

/*==================================*/

select {
  background: #ffffff;
  background-clip: padding-box;
  border: 1px solid #c2c2c2;
  border-radius: 1px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 32px;
  line-height: 1.42857143;
  padding: 5px 10px 4px;
  vertical-align: baseline;
  width: 100%;
  box-sizing: border-box;
}
select:disabled {
  opacity: 0.5;
}
select[multiple="multiple"] {
  height: auto;
  background-image: none;
}
textarea {
  background: #ffffff;
  background-clip: padding-box;
  border: 1px solid #c2c2c2;
  border-radius: 1px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: auto;
  line-height: 1.42857143;
  margin: 0;
  padding: 10px;
  vertical-align: baseline;
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
}

/*========================================*/
.page-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0;
    min-height: 100%;
    position: relative;
    transition: margin 0.3s ease-out 0s;
}

.page-main {
    width: 100%;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-flex-basis: auto;
    flex-basis: auto;
}

.columns {
    margin: 2% 10%;
    display: block;
}

.columns {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.columns:after {
    clear: both;
    content: ' ';
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.account .column.main {
    margin-bottom: 30px;
}
.column.main {
    min-height: 300px;
}
.column.main .block:last-child {
    margin-bottom: 0;
}
.account.page-layout-2columns-left .sidebar-main, .account.page-layout-2columns-left .sidebar-additional {
    width: 25%;
}
.account.page-layout-2columns-left .column.main {
    width: 73%;
    /*margin-top: 5.1%;*/
}

/*.columns .column.main {
    padding-bottom: 40px;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
    width: 100%;
}*/
/*.columns .sidebar-main {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
}*/
.columns .sidebar-additional {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
}
.page-layout-2columns-left .column.main {
    /*width: 79.16666667%;*/
    float: right;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
}
/*.page-layout-2columns-left .sidebar-main {
    width: 20.83333333%;
    float: left;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
}*/
.page-layout-2columns-left .sidebar-additional {
    clear: left;
    float: left;
    padding-left: 0;
    padding-right: 2%;
}

/*.page-layout-2columns-left .sidebar-additional {
    width: 20.83333333%;
    float: right;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
}*/




.multicheckout .box-title, .paypal-review .block .box-title, .account .column.main .block:not(.widget) .box-title, .magento-rma-guest-returns .column.main .block:not(.widget) .box-title, [class^='sales-guest-'] .column.main .block:not(.widget) .box-title, .sales-guest-view .column.main .block:not(.widget) .box-title {
    display: inline-block;
    margin: 0 0 10px;
}

b, strong {
    font-weight: 700;
}

.block .title strong {
    font-weight: 700;
    line-height: 1.1;
    font-size: 1.4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.multicheckout .box-title > span, .paypal-review .block .box-title > span, .account .column.main .block:not(.widget) .box-title > span, .magento-rma-guest-returns .column.main .block:not(.widget) .box-title > span, [class^='sales-guest-'] .column.main .block:not(.widget) .box-title > span, .sales-guest-view .column.main .block:not(.widget) .box-title > span {
    font-size: 1.6rem;
}
.abs-account-block-font-size, .block-addresses-list address, .box-billing-address .box-content, .box-shipping-address .box-content, .box-information .box-content, .block-balance-giftcard .block-content, .block-reviews-dashboard .product-name {
    font-size: 1.6rem;
}
.block-addresses-list address, .box-billing-address .box-content, .box-shipping-address .box-content, .box-information .box-content, .box-newsletter .box-content {
    line-height: 24px;
}




ul, ol {
    margin-top: 0rem;
    margin-bottom: 2.5rem;
}

ul > li, ol > li {
    margin-top: 0rem;
    margin-bottom: 1rem;
}


.items {
  margin: 0;
  padding: 0;
  list-style: none none;
}

.block-collapsible-nav .content {
  background: #f5f5f5;
  padding: 15px 0;
}
.block-collapsible-nav .item {
  margin: 3px 0 0;
}
.block-collapsible-nav .item:first-child {
  margin-top: 0;
}
.block-collapsible-nav .item a,
.block-collapsible-nav .item > strong {
  border-left: 3px solid transparent;
  color: #575757;
  display: block;
  padding: 5px 18px 5px 15px;
}
.block-collapsible-nav .item a {
  text-decoration: none;
}
.block-collapsible-nav .item a:hover {
  background: rgba(255, 197, 53, 0.8);
}
.block-collapsible-nav .item.current a,
.block-collapsible-nav .item.current > strong {
  border-color: #ff5501;
  color: #000000;
  font-weight: 600;
}
.block-collapsible-nav .item.current a {
  border-color: #ff5501;
}
.block-collapsible-nav .item .delimiter {
  border-top: 1px solid #d1d1d1;
  display: block;
  margin: 10px 1.8rem;
}
.block-collapsible-nav .red a:hover {
  background: rgba(255, 0, 0, 0.8) !important;
  color: black;
}


.block-collapsible-nav {
    /*left: 0;*/
    /*position: absolute;*/
    /*top: -21px;*/
    /*width: 100%;*/
    /*z-index: 5;*/
}
.block-collapsible-nav .content {
    border-bottom: 1px solid #cccccc;
    /*display: none;*/
}
.block-collapsible-nav .content.active {
    display: block;
}

.block-collapsible-nav .title {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}



.sidebar-main {
    padding-right: 2%;
}
.sidebar-additional {
    clear: right;
    padding-left: 2%;
}
.account .sidebar-additional {
    margin-top: 40px;
}






.block-compare .block-title, .block-reorder .block-title, .widget .block-title, .block-wishlist .block-title {
    margin: 0 0 20px;
}
.block-compare .block-title strong, .block-reorder .block-title strong, .widget .block-title strong, .block-wishlist .block-title strong {
    font-size: 18px;
    font-weight: 300;
}
.block-compare .counter, .block-wishlist .counter {
    color: #7d7d7d;
    font-size: 1.2rem;
    white-space: nowrap;
}


/*=== Compare / Recently Ordered ===*/
/*Appears if there are products, if not, it's hidden*/
.abs-sidebar-totals .table-caption, .multicheckout .block .methods-shipping .item-content .fieldset > .legend + br, .multicheckout .hidden, [class^='multishipping-'] .nav-sections, [class^='multishipping-'] .nav-toggle, .sidebar .subtitle, .cart-summary .block .fieldset.estimate > .legend, .cart-summary .block .fieldset.estimate > .legend + br, .minicart-items .product-item-details .weee[data-label] .label, .page-product-giftcard .fieldset.giftcard > .legend + br, .order-details-items .order-items .order-gift-message .action.close, .no-display, .cart-totals .table-caption, .opc-block-summary .table-totals .table-caption {
    display: none;
}
/*======================*/



.bundle-options-container .block-bundle-summary .bundle.items, .product-items, .prices-tier, .search-terms, .cart-summary .checkout-methods-items, .opc-wrapper .opc, .opc-progress-bar, .checkout-agreements-items, .order-details-items .items-qty, .footer.content ul, .block-banners .banner-items, .block-banners-inline .banner-items, .block-event .slider-panel .slider {
    margin: 0;
    padding: 0;
    list-style: none none;
}
.sidebar .product-items-names .product-item {
    margin-bottom: 10px;
}
.sidebar .product-items .product-item {
    margin-bottom: 20px;
    position: relative;
}
.bundle-options-container .block-bundle-summary .bundle.items > li, .product-items > li, .prices-tier > li, .search-terms > li, .cart-summary .checkout-methods-items > li, .opc-wrapper .opc > li, .opc-progress-bar > li, .checkout-agreements-items > li, .order-details-items .items-qty > li, .footer.content ul > li, .block-banners .banner-items > li, .block-banners-inline .banner-items > li, .block-event .slider-panel .slider > li {
    margin: 0;
}
.product-item {
    vertical-align: top;
}

.block-compare .product-item .product-item-name {
    margin-left: 22px;
}
.sidebar .product-items-names .product-item-name {
    margin: 0;
}

.sidebar .product-items .product-item-name {
    margin-top: 0;
}
.product-item-name {
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    display: block;
    hyphens: auto;
    margin: 5px 0;
    word-wrap: break-word;
}
.product-item-name, .product.name a {
    font-weight: 400;
}
.product-item-name > a, .product.name a > a {
    color: #333333;
    text-decoration: none;
}
.sidebar .product-items .action.delete {
    position: absolute;
    right: 0;
    top: 0;
}
.sidebar .product-items .action.delete, .table-comparison .cell.remove .action.delete, .block-compare .action.delete, .filter-current .action.remove {
    display: inline-block;
    text-decoration: none;
}
.block-compare .action.delete {
    left: 0;
    position: absolute;
    top: 0;
}
.abs-remove-button-for-blocks > span, .sidebar .product-items .action.delete > span, .table-comparison .cell.remove .action.delete > span, .block-compare .action.delete > span, .filter-current .action.remove > span {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}









.abs-margin-for-blocks-and-widgets-desktop, .page-main .block, .customer-review .product-details {
    margin-bottom: 50px;
}

 .account .column.main .block:not(.widget) .block-title, .magento-rma-guest-returns .column.main .block:not(.widget) .block-title, [class^='sales-guest-'] .column.main .block:not(.widget) .block-title, .sales-guest-view .column.main .block:not(.widget) .block-title {
    border-bottom: 1px solid #c6c6c6;
    margin-bottom: 25px;
    padding-bottom: 10px;
}

.abs-account-blocks .block-title > strong, .abs-account-blocks .block-title > span, .multicheckout .block-title > strong, .multicheckout .block-title > span, .multicheckout .block-content .title > strong, .multicheckout .block-content .title > span, .account .legend > strong, .account .legend > span, .form-giftregistry-search .legend > strong, .form-giftregistry-search .legend > span, .block-giftregistry-results .block-title > strong, .block-giftregistry-results .block-title > span, .block-giftregistry-shared-items .block-title > strong, .block-giftregistry-shared-items .block-title > span, .block-wishlist-search-form .block-title > strong, .block-wishlist-search-form .block-title > span, .block-wishlist-search-results .block-title > strong, .block-wishlist-search-results .block-title > span, .customer-review .review-details .title > strong, .customer-review .review-details .title > span, .multicheckout .block-title > strong, .multicheckout .block-title > span, .paypal-review .block .block-title > strong, .paypal-review .block .block-title > span, .account .column.main .block:not(.widget) .block-title > strong, .account .column.main .block:not(.widget) .block-title > span, .magento-rma-guest-returns .column.main .block:not(.widget) .block-title > strong, .magento-rma-guest-returns .column.main .block:not(.widget) .block-title > span, [class^='sales-guest-'] .column.main .block:not(.widget) .block-title > strong, [class^='sales-guest-'] .column.main .block:not(.widget) .block-title > span, .sales-guest-view .column.main .block:not(.widget) .block-title > strong, .sales-guest-view .column.main .block:not(.widget) .block-title > span {
    font-size: 2.2rem;
    font-weight: 300;
}

.multicheckout .block-title > .action, .paypal-review .block .block-title > .action, .account .column.main .block:not(.widget) .block-title > .action, .magento-rma-guest-returns .column.main .block:not(.widget) .block-title > .action, [class^='sales-guest-'] .column.main .block:not(.widget) .block-title > .action, .sales-guest-view .column.main .block:not(.widget) .block-title > .action {
    margin-left: 15px;
}

.abs-blocks-2columns,
.abs-discount-block-desktop .block,
.login-container .block,
.account .column.main .block:not(.widget) .block-content .box,
.block-addresses-list .items.addresses > .item,
.form-address-edit > .fieldset,
.form-edit-account .fieldset,
.storecredit .block,
.paypal-review-discount .block,
.cart-discount .block {
    width: 48%;
}

.block .box-actions {
    margin-top: 5px;
}

.block p:last-child {
    margin: 0;
}
p {
    margin-top: 0rem;
    margin-bottom: 1rem;
}
p {
    margin-bottom: 5px;
}

.block-addresses-list .items.addresses .item.actions .action:after, .account .data.table .col.actions .action:after, [class^='sales-guest-'] .data.table .col.actions .action:after, .sales-guest-view .data.table .col.actions .action:after, .block .box-actions .action:after {
    border-left: 1px solid #a6a6a6;
    content: '';
    display: inline-block;
    height: 12px;
    margin: 0 10px;
    vertical-align: -1px;
}

.block-addresses-list .items.addresses .item.actions .action:last-child:after, .account .data.table .col.actions .action:last-child:after, [class^='sales-guest-'] .data.table .col.actions .action:last-child:after, .sales-guest-view .data.table .col.actions .action:last-child:after, .block .box-actions .action:last-child:after {
    display: none;
}
.block-addresses-list .items.addresses .item.actions .action:after, .account .data.table .col.actions .action:after, [class^='sales-guest-'] .data.table .col.actions .action:after, .sales-guest-view .data.table .col.actions .action:after, .block .box-actions .action:after {
    border-left: 1px solid #a6a6a6;
    content: '';
    display: inline-block;
    height: 12px;
    margin: 0 10px;
    vertical-align: -1px;
}

.abs-discount-block-desktop .block:nth-child(2), .login-container .block:nth-child(2), .account .column.main .block:not(.widget) .block-content .box:nth-child(2), .block-addresses-list .items.addresses > .item:nth-child(2), .form-address-edit > .fieldset:nth-child(2), .form-edit-account .fieldset:nth-child(2), .storecredit .block:nth-child(2), .paypal-review-discount .block:nth-child(2), .cart-discount .block:nth-child(2) {
    float: right;
}

.actions-toolbar:after {
    clear: both;
}

.actions-toolbar:before, .actions-toolbar:after {
    content: '';
    display: table;
}


.abs-add-box-sizing-desktop,
.abs-shopping-cart-items-desktop,
.column.main,
.sidebar-main,
.sidebar-additional,
.bundle-options-container .block-bundle-summary,
.block.crosssell,
.magento-rma-guest-returns .column.main .block.block-order-details-view .block-content:not(.widget) .box,
.account .column.main .block.block-order-details-view .block-content:not(.widget) .box,
[class^='sales-guest-'] .column.main .block.block-order-details-view .block-content:not(.widget) .box,
.sales-guest-view .column.main .block.block-order-details-view .block-content:not(.widget) .box,
.block-cart-failed,
.cart-container .form-cart,
.cart-container .cart-gift-item {
  box-sizing: border-box;
}

.abs-discount-block-desktop .block:nth-child(1), .login-container .block:nth-child(1), .account .column.main .block:not(.widget) .block-content .box:nth-child(1), .block-addresses-list .items.addresses > .item:nth-child(1), .form-address-edit > .fieldset:nth-child(1), .form-edit-account .fieldset:nth-child(1), .storecredit .block:nth-child(1), .paypal-review-discount .block:nth-child(1), .cart-discount .block:nth-child(1) {
    clear: left;
    float: left;
}

/*.account .column.main .block:not(.widget) .block-title > strong, .account .column.main .block:not(.widget) .block-title > span, .magento-rma-guest-returns .column.main .block:not(.widget) .block-title > strong, .magento-rma-guest-returns .column.main .block:not(.widget) .block-title > span, [class^='sales-guest-'] .column.main .block:not(.widget) .block-title > strong, [class^='sales-guest-'] .column.main .block:not(.widget) .block-title > span, .sales-guest-view .column.main .block:not(.widget) .block-title > strong, .sales-guest-view .column.main .block:not(.widget) .block-title > span {
    font-size: 2.2rem;
    font-weight: 300;
}*/

/*
.abs-blocks-2columns, .abs-discount-block-desktop .block, .login-container .block, .account .column.main .block:not(.widget) .block-content .box, .block-addresses-list .items.addresses > .item, .form-address-edit > .fieldset, .form-edit-account .fieldset, .storecredit .block, .paypal-review-discount .block, .cart-discount .block {
    width: 48%;
}*/


.fieldset {
    border: 0;
    margin: 0 0 40px;
    padding: 0;
    letter-spacing: -.31em;
}
.fieldset > .legend {
    margin: 0 0 20px;
    padding: 0 0 10px;
    width: 100%;
    box-sizing: border-box;
    float: left;
    font-weight: 300;
    line-height: 1.2;
    font-size: 1.8rem;
}
.abs-account-blocks .block-title, .multicheckout .block-title, .multicheckout .block-content .title, .account .legend, .form-giftregistry-search .legend, .block-giftregistry-results .block-title, .block-giftregistry-shared-items .block-title, .block-wishlist-search-form .block-title, .block-wishlist-search-results .block-title, .customer-review .review-details .title, .multicheckout .block-title, .paypal-review .block .block-title, .account .column.main .block:not(.widget) .block-title, .magento-rma-guest-returns .column.main .block:not(.widget) .block-title, [class^='sales-guest-'] .column.main .block:not(.widget) .block-title, .sales-guest-view .column.main .block:not(.widget) .block-title {
    border-bottom: 1px solid #c6c6c6;
    margin-bottom: 25px;
    padding-bottom: 10px;
}
.legend > span {
    margin-right: 5px;
}

.fieldset > .field, .fieldset > .fields > .field {
    margin: 0 0 20px;
}
.fieldset > * {
    letter-spacing: normal;
}

.fieldset > .field > .label, .fieldset > .fields > .field > .label {
    font-weight: 600;
}
.fieldset > .field > .label, .fieldset > .fields > .field > .label {
    margin: 0 0 8px;
    display: inline-block;
}
.fieldset > .field.required > .label:after, .fieldset > .fields > .field.required > .label:after, .fieldset > .field._required > .label:after, .fieldset > .fields > .field._required > .label:after {
    content: '*';
    color: #e02b27;
    font-size: 1.2rem;
    margin: 0 0 0 5px;
}
.fieldset > .field.choice .label, .fieldset > .fields > .field.choice .label {
    display: inline;
    font-weight: normal;
    margin: 0;
}

input[type="checkbox"] {
    margin: 2px 5px 0 0;
}
.form-edit-account .fieldset.password {
    display: none;
}

.abs-discount-block-desktop .block:nth-child(2) + *, .login-container .block:nth-child(2) + *, .account .column.main .block:not(.widget) .block-content .box:nth-child(2) + *, .block-addresses-list .items.addresses > .item:nth-child(2) + *, .form-address-edit > .fieldset:nth-child(2) + *, .form-edit-account .fieldset:nth-child(2) + *, .storecredit .block:nth-child(2) + *, .paypal-review-discount .block:nth-child(2) + *, .cart-discount .block:nth-child(2) + * {
    clear: both;
}

.actions-toolbar {
    text-align: left;
}

.actions-toolbar > .primary, .actions-toolbar > .secondary {
    margin-bottom: 0;
}

.actions-toolbar .primary, .actions-toolbar .secondary {
    display: inline-block;
}
.actions-toolbar .primary {
    float: left;
}
.actions-toolbar > .primary, .actions-toolbar > .secondary {
    margin-bottom: 10px;
    text-align: center;
}
.actions-toolbar > .primary .action:last-child, .actions-toolbar > .secondary .action:last-child {
    margin-bottom: 0;
}

.actions-toolbar > .primary .action, .actions-toolbar > .secondary .action {
    margin-bottom: 0;
    width: auto;
}
.actions-toolbar .primary .action {
    margin: 0 15px 0 0;
}
.actions-toolbar > .primary .action, .actions-toolbar > .secondary .action {
    margin-bottom: 10px;
}
.actions-toolbar > .primary .action, .actions-toolbar > .secondary .action, .bundle-actions .action.primary.customize, .bundle-options-container .block-bundle-summary .box-tocart .action.primary, .box-tocart .action.tocart {
    width: 100%;
}
.action.primary {
    background-image: none;
    background: #1979c3;
    border: 1px solid #1979c3;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    padding: 7px 15px;
    font-size: 1.4rem;
    box-sizing: border-box;
    vertical-align: middle;
}
.multicheckout .action.primary,
.order-review-form .action.primary,
.bundle-actions .action.primary.customize,
.bundle-options-container .block-bundle-summary .box-tocart .action.primary,
.box-tocart .action.tocart,
.cart-summary .checkout-methods-items .action.primary.checkout,
.block-minicart .block-content > .actions > .primary .action.primary,
.methods-shipping .actions-toolbar .action.primary,
.block-authentication .action.action-register,
.block-authentication .action.action-login,
.checkout-payment-method .payment-method-content > .actions-toolbar > .primary .action.primary,
.form-address-edit .actions-toolbar .action.primary {
  line-height: 2.2rem;
  padding: 14px 17px;
  font-size: 1.8rem;
}

.actions-toolbar > .primary:last-child, .actions-toolbar > .secondary:last-child {
    margin-bottom: 0;
}
.actions-toolbar > .primary, .actions-toolbar > .secondary {
    margin-bottom: 0;
}

.columns {
  display: block;
}








/*
@media only screen and (max-width: 767px) {
  .abs-visually-hidden-mobile-m {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .abs-add-clearfix-mobile-m:before,
  .abs-add-clearfix-mobile-m:after,
  .account .column.main .block:not(.widget) .block-title:before,
  .account .column.main .block:not(.widget) .block-title:after {
    content: '';
    display: table;
  }
  .abs-add-clearfix-mobile-m:after,
  .account .column.main .block:not(.widget) .block-title:after {
    clear: both;
  }
  .abs-toggling-title-mobile,
  .block-wishlist-management .wishlist-select .wishlist-name,
  .block-collapsible-nav .title {
    border-top: 1px solid #cccccc;
    cursor: pointer;
    margin-bottom: 0;
    position: relative;
    border-bottom: 1px solid #cccccc;
    padding: 10px 40px 10px 15px;
    display: block;
    text-decoration: none;
  }
  .block-wishlist-management .wishlist-select .wishlist-name:after,
  .block-collapsible-nav .title:after {
    position: absolute;
    right: 20px;
    top: 10px;
  }
  .abs-toggling-title-mobile:after,
  .block-wishlist-management .wishlist-select .wishlist-name:after,
  .block-collapsible-nav .title:after {
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    line-height: inherit;
    color: inherit;
    content: '\e622';
    font-family: 'luma-icons';
    margin: 3px 0 0 0;
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
  }
  .abs-toggling-title-mobile.active:after,
  .block-wishlist-management .wishlist-select .wishlist-name.active:after,
  .block-collapsible-nav .title.active:after {
    content: '\e621';
  }
  .abs-icon-add-mobile,
  .block-wishlist-management .wishlist-add.item .add {
    display: block;
    text-decoration: none;
  }
  .abs-icon-add-mobile:before,
  .block-wishlist-management .wishlist-add.item .add:before {
    -webkit-font-smoothing: antialiased;
    font-size: 10px;
    line-height: 10px;
    color: inherit;
    content: '\e61c';
    font-family: 'luma-icons';
    margin: 0 5px 0 0;
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
  }
  .navigation,
  .breadcrumbs,
  .page-header .header.panel,
  .header.content,
  .footer.content,
  .page-main,
  .page-wrapper > .widget,
  .page-wrapper > .page-bottom,
  .block.category.event,
  .top-container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .account .page-main,
  .cms-privacy-policy .page-main {
    padding-top: 41px;
    position: relative;
  }
  .navigation {
    padding: 0;
  }
  .navigation .parent .level-top {
    position: relative;
    display: block;
    text-decoration: none;
  }
  .navigation .parent .level-top:after {
    -webkit-font-smoothing: antialiased;
    font-size: 42px;
    line-height: inherit;
    color: inherit;
    content: '\e622';
    font-family: 'luma-icons';
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
  }
  .navigation .parent .level-top:after {
    position: absolute;
    right: 7px;
    top: -8px;
  }
  .navigation .parent .level-top.ui-state-active:after {
    content: '\e621';
  }
  .nav-sections {
    -webkit-overflow-scrolling: touch;
    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    -ms-transition: left 0.3s;
    transition: left 0.3s;
    height: 100%;
    left: -80%;
    left: calc(-1 * (100% - 54px));
    overflow: auto;
    position: fixed;
    top: 0;
    width: 80%;
    width: calc(100% - 54px);
  }
  .nav-sections .switcher {
    border-top: 1px solid #d1d1d1;
    font-size: 1.6rem;
    font-weight: 700;
    margin: 0;
    padding: .8rem 3.5rem .8rem 2rem;
  }
  .nav-sections .switcher .label {
    display: block;
    margin-bottom: 5px;
  }
  .nav-sections .switcher:last-child {
    border-bottom: 1px solid #d1d1d1;
  }
  .nav-sections .switcher-trigger strong {
    position: relative;
    display: block;
    text-decoration: none;
  }
  .nav-sections .switcher-trigger strong:after {
    -webkit-font-smoothing: antialiased;
    font-size: 42px;
    line-height: inherit;
    color: inherit;
    content: '\e622';
    font-family: 'luma-icons';
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
  }
  .nav-sections .switcher-trigger strong:after {
    position: absolute;
    right: -40px;
    top: -16px;
  }
  .nav-sections .switcher-trigger.active strong:after {
    content: '\e621';
  }
  .nav-sections .switcher-dropdown {
    margin: 0;
    padding: 0;
    list-style: none none;
    padding: 10px 0;
  }
  .nav-sections .header.links {
    margin: 0;
    padding: 0;
    list-style: none none;
    border-bottom: 1px solid #d1d1d1;
  }
  .nav-sections .header.links li {
    font-size: 1.6rem;
    margin: 0;
  }
  .nav-sections .header.links li.greet.welcome {
    border-top: 1px solid #d1d1d1;
    font-weight: 700;
    padding: 0.8rem 20px;
  }
  .nav-sections .header.links li > a {
    border-top: 1px solid #d1d1d1;
  }
  .nav-sections .header.links a,
  .nav-sections .header.links a:hover {
    color: #575757;
    text-decoration: none;
    display: block;
    font-weight: 700;
    padding: 0.8rem 20px;
  }
  .nav-sections .header.links .header.links {
    border: 0;
  }
  .nav-before-open {
    height: 100%;
    overflow-x: hidden;
    width: 100%;
  }
  .nav-before-open .page-wrapper {
    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    -ms-transition: left 0.3s;
    transition: left 0.3s;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: relative;
  }
  .nav-before-open body {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .nav-open .page-wrapper {
    left: 80%;
    left: calc(100% - 54px);
  }
  .nav-open .nav-sections {
    -webkit-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
    -ms-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
    box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
    left: 0;
    z-index: 99;
  }
  .nav-open .nav-toggle:after {
    background: rgba(0, 0, 0, 0.7);
    content: '';
    display: block;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .nav-sections-items {
    position: relative;
    z-index: 1;
  }
  .nav-sections-items:before,
  .nav-sections-items:after {
    content: '';
    display: table;
  }
  .nav-sections-items:after {
    clear: both;
  }
  .nav-sections-item-title {
    background: #e3e3e3;
    border: solid #d7d7d7;
    border-width: 0 0 1px 1px;
    box-sizing: border-box;
    float: left;
    height: 71px;
    padding-top: 24px;
    text-align: center;
    width: 33.33%;
  }
  .nav-sections-item-title.active {
    background: transparent;
    border-bottom: 0;
  }
  .nav-sections-item-title .nav-sections-item-switch:hover {
    text-decoration: none;
  }
  .nav-sections-item-content {
    box-sizing: border-box;
    float: right;
    margin-left: -100%;
    margin-top: 71px;
    width: 100%;
    padding: 25px 0;
  }
  .nav-sections-item-content:before,
  .nav-sections-item-content:after {
    content: '';
    display: table;
  }
  .nav-sections-item-content:after {
    clear: both;
  }
  .nav-sections-item-content.active {
    display: block;
  }
  .navigation {
    background: #f0f0f0;
    box-sizing: border-box;
  }
  .navigation ul {
    margin: 0;
    padding: 0;
  }
  .navigation li {
    margin: 0;
  }
  .navigation a {
    display: block;
    padding-top: 10px;
    padding-right: 0;
    padding-bottom: 10px;
    padding-left: 15px;
  }
  .navigation a,
  .navigation a:hover {
    color: #575757;
    text-decoration: none;
  }
  .navigation .level0 {
    border-top: 1px solid #d1d1d1;
    font-size: 1.6rem;
  }
  .navigation .level0 > .level-top {
    font-weight: 700;
    padding: 8px 40px 8px 15px;
    text-transform: uppercase;
    word-wrap: break-word;
  }
  .navigation .level0.active .all-category .ui-state-focus {
    border-color: #ff5501;
    border-style: solid;
    border-width: 0 0 0 8px;
    color: #333333;
    padding-left: 7px;
    display: inline-block;
  }
  .navigation .level0 > .level1 {
    font-weight: 600;
  }
  .navigation .level0.active > a:not(.ui-state-active),
  .navigation .level0.has-active > a:not(.ui-state-active) {
    border-color: #ff5501;
    border-style: solid;
    border-width: 0 0 0 8px;
    color: #333333;
  }
  .navigation .level0.active > a:not(.ui-state-active) span:not(.ui-menu-icon),
  .navigation .level0.has-active > a:not(.ui-state-active) span:not(.ui-menu-icon) {
    margin-left: -8px;
  }
  .navigation li.level0:last-child {
    border-bottom: 1px solid #d1d1d1;
  }
  .navigation .submenu > li {
    word-wrap: break-word;
  }
  .navigation .submenu:not(:first-child) {
    font-weight: 400;
    line-height: 1.3;
    left: auto !important;
    overflow-x: hidden;
    padding: 0;
    position: relative;
    top: auto !important;
    transition: left 0.3s ease-out;
  }
  .navigation .submenu:not(:first-child) > li > a {
    padding-left: 15px;
  }
  .navigation .submenu:not(:first-child) > li:last-child {
    margin-bottom: 0;
  }
  .navigation .submenu:not(:first-child) ul {
    display: block;
    padding-left: 15px;
  }
  .navigation .submenu:not(:first-child) ul > li {
    margin: 0;
  }
  .navigation .submenu:not(:first-child) ul > li a {
    color: #575757;
    display: block;
    line-height: normal;
  }
  .navigation .submenu:not(:first-child).expanded {
    display: block !important;
    padding-right: 0;
    top: 0 !important;
  }
  .navigation .submenu:not(:first-child) .active > a {
    border-color: #ff5501;
    border-style: solid;
    border-width: 0 0 0 8px;
    color: #333333;
    padding-left: 7px;
  }
  .navigation .submenu:not(:first-child) .level1.active > a {
    padding-left: 7px;
  }
  .breadcrumbs {
    display: none;
  }
  .custom-slide {
    bottom: 0;
    left: 0;
    min-width: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    left: 44px;
    z-index: 900;
  }
  .custom-slide._show {
    visibility: visible;
  }
  .custom-slide._show .modal-inner-wrap {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .custom-slide .modal-inner-wrap {
    background-color: #ffffff;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.35);
    opacity: 1;
    pointer-events: auto;
  }
  .custom-slide._show .modal-inner-wrap {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  .custom-slide .modal-inner-wrap {
    height: 100%;
    overflow-y: auto;
    position: static;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    transition-duration: .3s;
    -webkit-transition-property: -webkit-transform, visibility;
    transition-property: transform, visibility;
    transition-timing-function: ease-in-out;
    width: auto;
  }
  .custom-slide._show {
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .custom-slide .modal-inner-wrap {
    background-color: #f4f4f4;
    box-sizing: border-box;
    height: auto;
    min-height: 100%;
  }
  body._has-modal-custom {
    height: 100vh;
    overflow: hidden;
    width: 100vw;
  }
  body._has-modal-custom .modal-custom-overlay {
    background-color: rgba(51, 51, 51, 0.55);
  }
  .multishipping-checkout-success .nav-toggle {
    display: block;
  }
  .multishipping-checkout-success .logo {
    margin-left: 40px;
  }
  .block-cart-failed .block-title {
    margin: 0 20px 20px;
  }
  .catalog-product-view .column.main {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .catalog-product-view .product.media {
    -ms-flex-order: -1;
    -webkit-order: -1;
    order: -1;
  }
  .compare.wrapper,
  [class*='block-compare'] {
    display: none;
  }
  .cart-container .form-cart .actions.main {
    text-align: center;
  }
  .cart-discount {
    border-bottom: 1px solid #cccccc;
  }
  .cart.table-wrapper {
    border-top: 1px solid #cccccc;
  }
  .cart.table-wrapper thead .col.item,
  .cart.table-wrapper thead .col.qty,
  .cart.table-wrapper thead .col.price,
  .cart.table-wrapper thead .col.subtotal,
  .cart.table-wrapper thead .col.msrp {
    display: none;
  }
  .cart.table-wrapper .col.qty,
  .cart.table-wrapper .col.price,
  .cart.table-wrapper .col.subtotal,
  .cart.table-wrapper .col.msrp {
    box-sizing: border-box;
    display: block;
    float: left;
    white-space: nowrap;
    width: 33%;
  }
  .cart.table-wrapper .col.qty:before,
  .cart.table-wrapper .col.price:before,
  .cart.table-wrapper .col.subtotal:before,
  .cart.table-wrapper .col.msrp:before {
    content: attr(data-th);
    display: block;
    font-weight: 600;
    padding-bottom: 10px;
  }
  .cart.table-wrapper .col.msrp {
    white-space: normal;
  }
  .cart.table-wrapper .item .col.item {
    padding-bottom: 0;
  }
  .cart.table-wrapper tbody > tr > td:last-child {
    border: 0;
  }
  .cart-totals {
    padding-left: 15px;
    padding-right: 15px;
  }
  .cart-totals .table-wrapper {
    border-top: 0;
  }
  .cart-totals .totals tbody > tr:not(:last-child) > td:last-child {
    border: 0;
  }
  .checkout-index-index .modal-popup .modal-footer .action-save-address {
    width: 100%;
  }
  .checkout-index-index .modal-popup .modal-footer .action-hide-popup {
    margin-top: 20px;
  }
  .checkout-payment-method .payment-methods {
    margin: 0 -15px;
  }
  .checkout-payment-method .payment-method-title {
    padding: 15px;
  }
  .checkout-payment-method .payment-method-content {
    padding: 0 15px 20px;
  }
  .checkout-payment-method .checkout-billing-address .action-cancel {
    margin-top: 10px;
  }
  .checkout-payment-method .payment-option {
    margin: 0 -15px;
  }
  .checkout-payment-method .payment-option .payment-option-title {
    padding: 15px;
  }
  .checkout-payment-method .payment-option .payment-option-content {
    padding: 0 15px 20px;
  }
  .login-container .fieldset:after {
    text-align: center;
  }
  .account .page.messages {
    margin-bottom: 40px;
  }
  .account .column.main .block:not(.widget) .block-title > .action {
    float: right;
    margin-top: 5px;
  }
  .account .column.main .block:not(.widget) .block-content .box {
    margin-bottom: 20px;
  }
  .account .column.main .block:not(.widget) .block-content .box:last-child {
    margin-bottom: 0;
  }
  .control.captcha-image .captcha-img {
    display: block;
    margin-bottom: 10px;
  }
  .customer-account-index .page-title-wrapper {
    position: relative;
  }
  .cart-discount .giftcard .content {
    padding-bottom: 35px;
  }
  .cart-discount .actions-toolbar .secondary {
    bottom: 17px;
  }
  .field.open-amount {
    width: 100%;
  }
  .page-product-giftcard .product-info-main .product-info-stock-sku {
    display: block;
    padding-left: 10px;
    text-align: left;
  }
  .gift-message .actions-toolbar .action-update {
    font-size: 2rem;
    padding: 15px;
    width: 100%;
  }
  .gift-item-block {
    border-top: 1px solid #c1c1c1;
    border-bottom: 0;
  }
  .gift-item-block .title:after {
    font-size: 1.2rem;
    position: absolute;
    right: 20px;
    top: 10px;
  }
  .gift-item-block .content {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .gift-message-summary {
    padding-right: 7rem;
  }
  .cart.table-wrapper .gift-content {
    border-top: 1px solid #c1c1c1;
    margin-right: -15px;
    overflow: hidden;
    padding-left: 15px;
    padding-right: 15px;
  }
  .cart .action-gift {
    display: inline-block;
    text-decoration: none;
  }
  .cart .action-gift > span {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .cart .action-gift:after {
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    line-height: 20px;
    color: #8f8f8f;
    content: '\e62a';
    font-family: 'luma-icons';
    margin: 0;
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
  }
  .cart .action-gift:hover:after {
    color: #333333;
  }
  .cart .action-gift:active:after {
    color: #8f8f8f;
  }
  .cart .action-gift._active {
    border: 1px solid #c1c1c1;
    border-bottom-color: #ffffff;
    margin: -5px 14px -1px -15px;
    padding: 4px 10px 9px 14px;
  }
  .cart .action-gift._active:after {
    color: #333333;
  }
  .gift-options-cart-item + .action-towishlist {
    left: 43px;
    position: absolute;
  }
  .cart.table-wrapper .action-giftregistry {
    display: inline-block;
    text-decoration: none;
  }
  .cart.table-wrapper .action-giftregistry > span {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .cart.table-wrapper .action-giftregistry:before {
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    line-height: 20px;
    color: #8f8f8f;
    content: '\e62b';
    font-family: 'luma-icons';
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
  }
  .cart.table-wrapper .action-giftregistry:hover:before {
    color: #333333;
  }
  .cart.table-wrapper .action-giftregistry:active:before {
    color: #8f8f8f;
  }
  .gift-options-cart-item .gift-wrapping,
  .cart-gift-item .gift-wrapping {
    border-bottom: 1px solid #c1c1c1;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
  .gift-wrapping-list {
    width: 100%;
  }
  .gift-wrapping-summary + .gift-message-summary {
    padding-right: 0;
  }
  .gift-options-cart-item {
    float: left;
    width: 100%;
  }
  .gift-wrapping-preview img {
    width: 100%;
  }
  .item-actions .actions-toolbar .gift-options .gift-wrapping,
  .item-actions .actions-toolbar .gift-options .gift-message {
    display: block;
  }
  .table-wrapper.grouped {
    margin-left: -15px;
    margin-right: -15px;
  }
  body.filter-active .page-header {
    display: none;
  }
  body.filter-active .page-wrapper {
    height: 0;
    margin-top: -999999em;
    visibility: hidden;
  }
  body.filter-active .columns {
    z-index: 999;
  }
  .filter.active {
    position: relative;
    visibility: visible;
    z-index: 99;
  }
  .filter.active .filter-options-item:last-child {
    margin-bottom: 40px;
  }
  .filter.active .filter-title {
    border-bottom: 1px solid #cccccc;
    height: 48px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
  }
  .filter.active .filter-title strong {
    box-shadow: none;
    background: none;
    border: 0;
    color: transparent;
    left: auto;
    right: 3px;
    top: 10px;
    display: inline-block;
    text-decoration: none;
  }
  .filter.active .filter-title strong:after {
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    line-height: inherit;
    color: #7d7d7d;
    content: '\e616';
    font-family: 'luma-icons';
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
  }
  .filter.active .filter-subtitle {
    background: transparent;
    display: block;
    height: 50px;
    left: 0;
    line-height: 32px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
  }
  .filter.active .filter-options {
    background: #ffffff;
    bottom: 0;
    display: block;
    left: 0;
    overflow: scroll;
    position: fixed;
    right: 0;
    top: 50px;
    z-index: 10;
  }
  .filter .filter-subtitle {
    font-size: 20px;
    font-weight: 300;
  }
  .filter-actions {
    margin: -35px -10px 25px;
  }
  .filter-options-content {
    padding: 5px 10px;
  }
  .filter .filter-current {
    border: solid #cccccc;
    border-width: 1px 0;
    margin: 5px -10px 0;
  }
  .filter .filter-current .items {
    display: none;
  }
  .filter .filter-current-subtitle {
    position: relative;
    text-transform: uppercase;
    z-index: 1;
    display: block;
    text-decoration: none;
  }
  .filter .filter-current-subtitle:before {
    -webkit-font-smoothing: antialiased;
    font-size: 13px;
    line-height: inherit;
    color: inherit;
    content: '\e622';
    font-family: 'luma-icons';
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
  }
  .filter .filter-current-subtitle:before {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .filter .filter-current-subtitle:after {
    color: #7d7d7d;
    content: ' (' attr(data-count) ')';
    font-size: .9em;
  }
  .filter .filter-current.active {
    padding-bottom: 30px;
  }
  .filter .filter-current.active .block-subtitle:before {
    content: '\e621';
  }
  .filter .filter-current.active .items {
    display: block;
  }
  .filter .filter-current.active + .block-actions {
    display: block;
  }
  .filter .filter-current + .block-actions {
    display: none;
  }
  .filter-no-options .filter-title:before {
    background: rgba(255, 255, 255, 0.5);
    content: '';
    display: block;
    height: 40px;
    left: -15px;
    margin-top: -60px;
    position: relative;
    width: 100px;
    z-index: 99;
  }
  .filter-no-options .filter-content {
    margin-bottom: 20px;
  }
  .page-with-filter .columns .sidebar-main {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0;
  }
  .map-popup {
    max-width: 100%;
  }
  .map-old-price,
  .map-show-info {
    display: inline-block;
  }
  .map-old-price:not(:last-child),
  .map-show-info:not(:last-child) {
    margin-bottom: 10px;
  }
  .block-wishlist-management {
    clear: both;
    margin-top: -21px;
  }
  .block-wishlist-management .wishlist-select {
    margin: 0 -15px 20px;
  }
  .block-wishlist-management .wishlist-select .wishlist-name {
    font-size: 1.6rem;
  }
  .block-wishlist-management .wishlist-select-items {
    border-bottom: 1px solid #cccccc;
    background: #f5f5f5;
    display: none;
    padding: 15px 0;
  }
  .block-wishlist-management .wishlist-select-items.active {
    display: block;
  }
  .block-wishlist-management .wishlist-select-items .item {
    margin: 3px 0 0;
  }
  .block-wishlist-management .wishlist-select-items .item:first-child {
    margin-top: 0;
  }
  .block-wishlist-management .wishlist-select-items .item.current {
    display: none;
  }
  .block-wishlist-management .wishlist-select-items .item a {
    color: #333333;
    display: block;
    padding: 5px 18px;
    text-decoration: none;
  }
  .block-wishlist-management .wishlist-select-items .item a:hover {
    background: #e8e8e8;
  }
  .block-wishlist-management .wishlist-title strong {
    font-size: 2.6rem;
  }
  .block-wishlist-management .wishlist-info {
    margin-bottom: 15px;
  }
  .block-wishlist-management .wishlist-toolbar-select,
  .block-wishlist-management .wishlist-toolbar-actions {
    margin-bottom: 15px;
  }
  .products-grid.wishlist .product-item-checkbox {
    left: 20px;
    position: absolute;
    top: 20px;
  }
  .page-multiple-wishlist .products-grid.wishlist .product-item-photo {
    margin-left: 25px;
  }
  .page-multiple-wishlist .products-grid.wishlist .product-item-name,
  .page-multiple-wishlist .products-grid.wishlist .product-item-description,
  .page-multiple-wishlist .products-grid.wishlist .product-item .price-box,
  .page-multiple-wishlist .products-grid.wishlist .product-item-tooltip {
    margin-left: 115px;
  }
  .products-grid.wishlist .wishlist-dropdown {
    display: none;
  }
  .block-collapsible-nav {
    left: 0;
    position: absolute;
    top: -21px;
    width: 100%;
    z-index: 5;
  }
  .block-collapsible-nav .content {
    border-bottom: 1px solid #cccccc;
    display: none;
  }
  .block-collapsible-nav .content.active {
    display: block;
  }
  .customer-name,
  .customer-welcome + .authorization-link {
    display: none;
  }
  .nav-sections .switcher-trigger strong:after {
    font-size: 1.6rem;
    right: -25px;
    top: -2px;
  }
  .navigation .parent .level-top:after {
    font-size: 1.6rem;
    right: 10px;
    top: 7px;
  }
  .page-footer .footer.content .switcher-store {
    background: #f4f4f4;
    font-size: 1.6rem;
    margin: 0 -15px;
  }
  .page-footer .footer.content .switcher-store .switcher-options {
    display: block;
  }
  .page-footer .footer.content .switcher-store .switcher-options ul.dropdown {
    background: none;
    border: 0;
    box-shadow: none;
    margin: 0;
    position: relative;
  }
  .page-footer .footer.content .switcher-store .switcher-options ul.dropdown:before,
  .page-footer .footer.content .switcher-store .switcher-options ul.dropdown:after {
    display: none;
  }
  .page-footer .footer.content .switcher-store .switcher-options .switcher-trigger,
  .page-footer .footer.content .switcher-store .switcher-options .switcher-option {
    border-top: 1px solid #cecece;
    display: block;
    padding: 10px 20px;
  }
  .page-footer .footer.content .switcher-store .switcher-options .switcher-trigger strong {
    padding: 10px 0;
  }
  .page-footer .footer.content .switcher-store .switcher-options .switcher-option a {
    padding: 0;
  }
  .products-grid.wishlist {
    margin-bottom: 30px;
    margin-right: -10px;
  }
  .products-grid.wishlist .product-item {
    padding: 20px 10px 20px 20px;
    position: relative;
  }
  .products-grid.wishlist .product-item-photo {
    float: left;
    margin-right: 20px;
  }
  .products-grid.wishlist .product-item-name {
    font-size: 1.6rem;
  }
  .products-grid.wishlist .product-item-actions {
    display: block;
  }
  .products-grid.wishlist .product-item-actions .action {
    margin-right: 15px;
  }
  .products-grid.wishlist .product-item-actions .action:last-child {
    margin-right: 0;
  }
  .products-grid.wishlist .product-item-actions .action.edit {
    float: left;
  }
  .products-grid.wishlist .product-item-actions .action.delete {
    float: right;
  }
  .products-grid.wishlist .product-item-actions .action.edit,
  .products-grid.wishlist .product-item-actions .action.delete {
    margin-top: 7px;
  }
  .products-grid.wishlist .product-item-name,
  .products-grid.wishlist .product-item-description,
  .products-grid.wishlist .product-item .price-box,
  .products-grid.wishlist .product-item-tooltip {
    margin-left: 95px;
  }
  .products-grid.wishlist .product-item .box-tocart {
    float: left;
    margin-right: 20px;
  }
  .products-grid.wishlist .product-item .box-tocart .stock {
    margin-top: 7px;
  }
  .products-grid.wishlist .product-item .giftregisty-dropdown,
  .products-grid.wishlist .product-item .field.qty {
    display: none;
  }
  .products-grid.wishlist .product-image-container {
    max-width: 80px;
  }
  .wishlist-index-index .product-item {
    width: 100%;
  }
  .wishlist-index-index .product-item-info {
    width: auto;
  }
  .cart.table-wrapper .action-towishlist {
    display: inline-block;
    text-decoration: none;
  }
  .cart.table-wrapper .action-towishlist > span {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .cart.table-wrapper .action-towishlist:before {
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    line-height: 20px;
    color: #8f8f8f;
    content: '\e600';
    font-family: 'luma-icons';
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
  }
  .cart.table-wrapper .action-towishlist:hover:before {
    color: #333333;
  }
  .cart.table-wrapper .action-towishlist:active:before {
    color: #8f8f8f;
  }
}*/