
.expandable-panel h2, 
.expandable-panel p, 
.expandable-panel ol, 
.expandable-panel ul, 
.expandable-panel li {
    margin:0px;
    padding:0px;
    font-size:16px;
    font-family:Arial, Helvetica, sans-serif;
}
 
#container1 {
    /*width:300px;*/
    /*margin:auto;*/
    margin-top:50px;
    margin-left:20px;
}
 
/* --------- COLLAPSIBLE PANELS ----------*/
 
.expandable-panel {
    width:100%;
    position:relative;
    min-height:70px;
    overflow:auto;
    margin-bottom: 10px;
    /*border:1px solid #999;*/
    box-shadow: 2px 2px 3px #DDD;
}
.expandable-panel-heading {
    width:100%;
    cursor:pointer;
    min-height:70px;
    clear:both;
    background-color: #F5F5F5;
    position:relative;
    box-shadow: 0 0 5px 3px #DDD;
    /*color:#000 !important;*/
}
.expandable-panel-heading:hover {
    color: #000 !important;
}
.expandable-panel-heading h2 {
    padding:14px 10px 9px 15px;
    font-size:18px;
    line-height:20px;
    text-transform: capitalize;
}
.expandable-panel-content {
    padding:0 15px 0 15px;
    margin-top:-999px;
}
.expandable-panel-content p {
    padding:4px 0 6px 0;
}
.expandable-panel-content p:first-child  {
    padding-top:10px;
}
.expandable-panel-content p:last-child {
    padding-bottom:15px;
}
.icon-close-open {
    width:20px;
    height:20px;
    position:absolute;
    background-image: url(../images/icon-close-open.png);
    right:15px;
}
.expandable-panel-content img {
    float:right;
    padding-left:12px;
}
.header-active {
    background-color:#FFD156;
}